<ion-view title="Colina das Estrelas" id="page7">
  <ion-content padding="true" class="has-header">
    <div id="colinaDasEstrelas3-button-bar5" class="button-bar">
      <a ui-sref="menuTatuBus.colinaDasEstrelas" id="colinaDasEstrelas3-button20" class="button button-light  button-block button-outline">Seg - Sex</a>
      <a ui-sref="menuTatuBus.colinaDasEstrelas2" id="colinaDasEstrelas3-button21" class="button button-light  button-block button-outline">Sábado</a>
      <button id="colinaDasEstrelas3-button22" class="button button-calm  button-block">Especiais</button>
    </div>
    <div class="item item-body" id="colinaDasEstrelas3-list-item-container5">
      <div id="colinaDasEstrelas3-markdown8" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Linhas marcadas como Especiais
          <strong>correm apenas em dias úteis</strong>.</p>
      </div>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="colinaDasEstrelas3-list20">
      <ion-item class="item-divider" id="colinaDasEstrelas3-list-item-divider10"> São Marcos/Colina para Santa Rita</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="colinaDasEstrelas3-list21">
      <ion-item id="colinaDasEstrelas3-list-item68">16:00</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="colinaDasEstrelas3-list22">
      <ion-item class="item-divider" id="colinaDasEstrelas3-list-item-divider11"> Colina das Estrelas p/ Jd. São João</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="colinaDasEstrelas3-list23">
      <ion-item id="colinaDasEstrelas3-list-item69">7:13</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="colinaDasEstrelas3-list24">
      <ion-item class="item-divider" id="colinaDasEstrelas3-list-item-divider12"> São Marcos para Mercado Municipal</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="colinaDasEstrelas3-list25">
      <ion-item id="colinaDasEstrelas3-list-item70">17:15</ion-item>
    </ion-list>
  </ion-content>
</ion-view>