<ion-view title="Colina das Estrelas" id="page5">
  <ion-content padding="true" class="has-header">
    <div id="colinaDasEstrelas2-button-bar2" class="button-bar">
      <a ui-sref="menuTatuBus.colinaDasEstrelas" id="colinaDasEstrelas2-button10" class="button button-light  button-block button-outline">Seg - Sex</a>
      <button id="colinaDasEstrelas2-button11" class="button button-calm  button-block">Sábado</button>
      <a ui-sref="menuTatuBus.colinaDasEstrelas3" id="colinaDasEstrelas2-button12" class="button button-light  button-block button-outline">Especiais</a>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="colinaDasEstrelas2-list11">
      <ion-item class="item-divider" id="colinaDasEstrelas2-list-item-divider5"> Mercado p/ Condomínio São Marcos</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="colinaDasEstrelas2-list12">
      <ion-item id="colinaDasEstrelas2-list-item50">7:30</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="colinaDasEstrelas2-list13">
      <ion-item class="item-divider" id="colinaDasEstrelas2-list-item-divider6"> Condomínio São Marcos p/ Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="colinaDasEstrelas2-list14">
      <ion-item id="colinaDasEstrelas2-list-item51">7:55</ion-item>
    </ion-list>
  </ion-content>
</ion-view>