<ion-view title="Colina das Estrelas" id="page4">
  <ion-content padding="true" class="has-header">
    <div id="colinaDasEstrelas-button-bar1" class="button-bar">
      <button id="colinaDasEstrelas-button6" class="button button-calm  button-block">Seg - Sex</button>
      <a ui-sref="menuTatuBus.colinaDasEstrelas2" id="colinaDasEstrelas-button8" class="button button-light  button-block button-outline">Sábado</a>
      <a ui-sref="menuTatuBus.colinaDasEstrelas3" id="colinaDasEstrelas-button9" class="button button-light  button-block button-outline">Especiais</a>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="colinaDasEstrelas-list6">
      <ion-item class="item-divider" id="colinaDasEstrelas-list-item-divider3"> Mercado p/ Condomínio São Marcos</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="colinaDasEstrelas-list7">
      <ion-item id="colinaDasEstrelas-list-item31">6:35</ion-item>
      <ion-item id="colinaDasEstrelas-list-item32">6:50</ion-item>
      <ion-item id="colinaDasEstrelas-list-item33">7:10</ion-item>
      <ion-item id="colinaDasEstrelas-list-item34">7:30</ion-item>
      <ion-item id="colinaDasEstrelas-list-item35">7:50</ion-item>
      <ion-item id="colinaDasEstrelas-list-item36">15:00</ion-item>
      <ion-item id="colinaDasEstrelas-list-item37">16:00</ion-item>
      <ion-item id="colinaDasEstrelas-list-item38">17:30
        <span class="item-note">Motorista aguarda até 18:15</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="colinaDasEstrelas-list10">
      <ion-item class="item-divider" id="colinaDasEstrelas-list-item-divider4"> Condomínio São Marcos p/ Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="colinaDasEstrelas-list8">
      <ion-list id="colinaDasEstrelas-list9">
        <ion-item id="colinaDasEstrelas-list-item42">6:50</ion-item>
        <ion-item id="colinaDasEstrelas-list-item43">7:10</ion-item>
        <ion-item id="colinaDasEstrelas-list-item44">7:45</ion-item>
        <ion-item id="colinaDasEstrelas-list-item45">7:50</ion-item>
        <ion-item id="colinaDasEstrelas-list-item46">8:10</ion-item>
        <ion-item id="colinaDasEstrelas-list-item47">15:30</ion-item>
        <ion-item id="colinaDasEstrelas-list-item48">16:30</ion-item>
        <ion-item id="colinaDasEstrelas-list-item49">17:50
          <span class="item-note">Motorista aguarda até 18:15</span>
        </ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>