<ion-view title="Enxovia" id="page8">
  <ion-content padding="true" class="has-header">
    <div id="enxovia-button-bar6" class="button-bar">
      <button id="enxovia-button13" class="button button-calm  button-block">Seg - Sex</button>
      <a ui-sref="menuTatuBus.enxovia2" id="enxovia-button14" class="button button-light  button-block button-outline">Sábado</a>
      <a ui-sref="menuTatuBus.enxovia3" id="enxovia-button15" class="button button-light  button-block button-outline">Domingo</a>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="enxovia-list15">
      <ion-item class="item-divider" id="enxovia-list-item-divider7"> Mercado para Enxovia</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="enxovia-list16">
      <ion-item id="enxovia-list-item23">6:00</ion-item>
      <ion-item id="enxovia-list-item24">9:00</ion-item>
      <ion-item id="enxovia-list-item25">12:00</ion-item>
      <ion-item id="enxovia-list-item26">15:00</ion-item>
      <ion-item id="enxovia-list-item27">18:00</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="enxovia-list17">
      <ion-item class="item-divider" id="enxovia-list-item-divider8"> Enxovia para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="enxovia-list19">
      <ion-list id="enxovia-list18">
        <ion-item id="enxovia-list-item39">6:45</ion-item>
        <ion-item id="enxovia-list-item40">9:45</ion-item>
        <ion-item id="enxovia-list-item41">12:45</ion-item>
        <ion-item id="enxovia-list-item52">15:45</ion-item>
        <ion-item id="enxovia-list-item53">18:45</ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>