<ion-view title="Enxovia" id="page10">
  <ion-content padding="true" class="has-header">
    <div id="enxovia3-button-bar8" class="button-bar">
      <a ui-sref="menuTatuBus.enxovia" id="enxovia3-button19" class="button button-light  button-block button-outline">Seg - Sex</a>
      <a ui-sref="menuTatuBus.enxovia2" id="enxovia3-button23" class="button button-light  button-block button-outline">Sábado</a>
      <button id="enxovia3-button24" class="button button-calm  button-block">Domingo</button>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="enxovia3-list33">
      <ion-item class="item-divider" id="enxovia3-list-item-divider14"> Mercado para Enxovia</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="enxovia3-list34">
      <ion-item id="enxovia3-list-item77">6:00</ion-item>
      <ion-item id="enxovia3-list-item79">12:00</ion-item>
      <ion-item id="enxovia3-list-item81">18:00</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="enxovia3-list35">
      <ion-item class="item-divider" id="enxovia3-list-item-divider15"> Enxovia para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="enxovia3-list36">
      <ion-item id="enxovia3-list-item82">6:45</ion-item>
      <ion-item id="enxovia3-list-item84">12:45</ion-item>
      <ion-item id="enxovia3-list-item86">18:45</ion-item>
    </ion-list>
  </ion-content>
</ion-view>