<ion-view title="Enxovia" id="page9">
  <ion-content padding="true" class="has-header">
    <div id="enxovia2-button-bar7" class="button-bar">
      <a ui-sref="menuTatuBus.enxovia" id="enxovia2-button16" class="button button-light  button-block button-outline">Seg - Sex</a>
      <button id="enxovia2-button17" class="button button-calm  button-block">Sábado</button>
      <a ui-sref="menuTatuBus.enxovia3" id="enxovia2-button18" class="button button-light  button-block button-outline">Domingo</a>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="enxovia2-list26">
      <ion-item class="item-divider" id="enxovia2-list-item-divider9"> Mercado para Enxovia</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="enxovia2-list31">
      <ion-item id="enxovia2-list-item64">6:00</ion-item>
      <ion-item id="enxovia2-list-item65">9:00</ion-item>
      <ion-item id="enxovia2-list-item66">12:00</ion-item>
      <ion-item id="enxovia2-list-item67">15:00</ion-item>
      <ion-item id="enxovia2-list-item71">18:00</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="enxovia2-list28">
      <ion-item class="item-divider" id="enxovia2-list-item-divider13"> Enxovia para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="enxovia2-list32">
      <ion-item id="enxovia2-list-item72">6:45</ion-item>
      <ion-item id="enxovia2-list-item73">9:45</ion-item>
      <ion-item id="enxovia2-list-item74">12:45</ion-item>
      <ion-item id="enxovia2-list-item75">15:45</ion-item>
      <ion-item id="enxovia2-list-item76">18:45</ion-item>
    </ion-list>
  </ion-content>
</ion-view>