<ion-view title="Gralha Azul" id="page11">
  <ion-content padding="true" class="has-header">
    <div class="item item-body" id="gralhaAzul-list-item-container6">
      <div id="gralhaAzul-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">A linha corre apenas em
          <strong>dias úteis</strong>.</p>
      </div>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="gralhaAzul-list37">
      <ion-item class="item-divider" id="gralhaAzul-list-item-divider16"> Mercado para Gralha Azul</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="gralhaAzul-list38">
      <ion-item id="gralhaAzul-list-item87">6:50</ion-item>
      <ion-item id="gralhaAzul-list-item94">16:30
        <span class="item-note">Vai até San Raphael</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="gralhaAzul-list39">
      <ion-item class="item-divider" id="gralhaAzul-list-item-divider17"> Gralha Azul para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="gralhaAzul-list41">
      <ion-list id="gralhaAzul-list40">
        <ion-item id="gralhaAzul-list-item95">7:10</ion-item>
        <ion-item id="gralhaAzul-list-item102">17:00
          <span class="item-note">Vai até San Raphael</span>
        </ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>