<ion-view title="Guarapó" id="page12">
  <ion-content padding="true" class="has-header">
    <div id="guarap-button-bar10" class="button-bar">
      <button id="guarap-button28" class="button button-calm  button-block">Seg - Sex</button>
      <a ui-sref="menuTatuBus.guarap2" id="guarap-button30" class="button button-light  button-block button-outline">Sábado</a>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="guarap-list42">
      <ion-item class="item-divider" id="guarap-list-item-divider18"> Mercado para Guarapó</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="guarap-list43">
      <ion-item id="guarap-list-item103">7:30</ion-item>
    </ion-list>
    <ion-list id="guarap-list48">
      <ion-item id="guarap-list-item106">13:30</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="guarap-list44">
      <ion-item class="item-divider" id="guarap-list-item-divider19"> Guarapó para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="guarap-list45">
      <ion-item id="guarap-list-item104">8:00</ion-item>
      <ion-item id="guarap-list-item107">14:00</ion-item>
    </ion-list>
  </ion-content>
</ion-view>