<ion-view title="Guarapó" id="page13">
  <ion-content padding="true" class="has-header">
    <div id="guarap2-button-bar11" class="button-bar">
      <a ui-sref="menuTatuBus.guarap" id="guarap2-button31" class="button button-light  button-block button-outline">Seg - Sex</a>
      <button id="guarap2-button32" class="button button-calm  button-block">Sábado</button>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="guarap2-list49">
      <ion-item class="item-divider" id="guarap2-list-item-divider21"> Mercado para Guarapó</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="guarap2-list50">
      <ion-item id="guarap2-list-item108">7:30</ion-item>
    </ion-list>
    <ion-list id="guarap2-list51">
      <ion-item id="guarap2-list-item109">13:30</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="guarap2-list52">
      <ion-item class="item-divider" id="guarap2-list-item-divider22"> Guarapó para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="guarap2-list53">
      <ion-item id="guarap2-list-item110">8:00</ion-item>
      <ion-item id="guarap2-list-item111">14:00</ion-item>
    </ion-list>
  </ion-content>
</ion-view>