<ion-view title="Inocoop" id="page14">
  <ion-content padding="true" class="has-header">
    <div id="inocoop-button-bar9" class="button-bar">
      <button id="inocoop-button25" class="button button-calm  button-block">Seg - Sex</button>
      <a ui-sref="menuTatuBus.inocoop2" id="inocoop-button26" class="button button-light  button-block button-outline">Sábado</a>
      <a ui-sref="menuTatuBus.inocoop3" id="inocoop-button27" class="button button-light  button-block button-outline">Domingo</a>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="inocoop-list27">
      <ion-item class="item-divider" id="inocoop-list-item-divider20"> Mercado para Inocoop</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="inocoop-list29">
      <ion-item id="inocoop-list-item96">6:00</ion-item>
      <ion-item id="inocoop-list-item97">6:25
        <span class="item-note">Atende Rosa Garcia 1</span>
      </ion-item>
      <ion-item id="inocoop-list-item98">6:50</ion-item>
      <ion-item id="inocoop-list-item99">7:15</ion-item>
      <ion-item id="inocoop-list-item100">7:40
        <span class="item-note">Atende Rosa Garcia 1</span>
      </ion-item>
      <ion-item id="inocoop-list-item101">8:05</ion-item>
      <ion-item id="inocoop-list-item105">8:30</ion-item>
      <ion-item id="inocoop-list-item112">9:00</ion-item>
      <ion-item id="inocoop-list-item121">9:30</ion-item>
      <ion-item id="inocoop-list-item122">10:00
        <span class="item-note">Atende Rosa Garcia 1</span>
      </ion-item>
      <ion-item id="inocoop-list-item123">10:30</ion-item>
      <ion-item id="inocoop-list-item124">11:00</ion-item>
      <ion-item id="inocoop-list-item125">11:30</ion-item>
      <ion-item id="inocoop-list-item126">12:00</ion-item>
      <ion-item id="inocoop-list-item127">12:30</ion-item>
      <ion-item id="inocoop-list-item128">13:00</ion-item>
      <ion-item id="inocoop-list-item129">13:30
        <span class="item-note">Atende Rosa Garcia 1</span>
      </ion-item>
      <ion-item id="inocoop-list-item130">14:00</ion-item>
      <ion-item id="inocoop-list-item131">14:30</ion-item>
      <ion-item id="inocoop-list-item132">15:00</ion-item>
      <ion-item id="inocoop-list-item133">15:30</ion-item>
      <ion-item id="inocoop-list-item134">16:00</ion-item>
      <ion-item id="inocoop-list-item135">16:30</ion-item>
      <ion-item id="inocoop-list-item136">17:00</ion-item>
      <ion-item id="inocoop-list-item137">17:30
        <span class="item-note">Atende Rosa Garcia 1</span>
      </ion-item>
      <ion-item id="inocoop-list-item138">18:00</ion-item>
      <ion-item id="inocoop-list-item139">18:30</ion-item>
      <ion-item id="inocoop-list-item140">19:30</ion-item>
      <ion-item id="inocoop-list-item141">20:30</ion-item>
      <ion-item id="inocoop-list-item142">21:30</ion-item>
      <ion-item id="inocoop-list-item143">22:30</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="inocoop-list30">
      <ion-item class="item-divider" id="inocoop-list-item-divider23"> Inocoop para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="inocoop-list47">
      <ion-list id="inocoop-list46">
        <ion-item id="inocoop-list-item113">6:25</ion-item>
        <ion-item id="inocoop-list-item114">6:50
          <span class="item-note">Atende Rosa Garcia 1</span>
        </ion-item>
        <ion-item id="inocoop-list-item115">7:15</ion-item>
        <ion-item id="inocoop-list-item116">7:40</ion-item>
        <ion-item id="inocoop-list-item117">8:05
          <span class="item-note">Atende Rosa Garcia 1</span>
        </ion-item>
        <ion-item id="inocoop-list-item118">8:30</ion-item>
        <ion-item id="inocoop-list-item119">9:00</ion-item>
        <ion-item id="inocoop-list-item120">9:30</ion-item>
        <ion-item id="inocoop-list-item144">10:00</ion-item>
        <ion-item id="inocoop-list-item145">10:30
          <span class="item-note">Atende Rosa Garcia 1</span>
        </ion-item>
        <ion-item id="inocoop-list-item146">11:00</ion-item>
        <ion-item id="inocoop-list-item147">11:30</ion-item>
        <ion-item id="inocoop-list-item148">12:00</ion-item>
        <ion-item id="inocoop-list-item149">12:30</ion-item>
        <ion-item id="inocoop-list-item150">13:00</ion-item>
        <ion-item id="inocoop-list-item151">13:30</ion-item>
        <ion-item id="inocoop-list-item152">14:00
          <span class="item-note">Atende Rosa Garcia 1</span>
        </ion-item>
        <ion-item id="inocoop-list-item153">14:30</ion-item>
        <ion-item id="inocoop-list-item154">15:00</ion-item>
        <ion-item id="inocoop-list-item155">15:30</ion-item>
        <ion-item id="inocoop-list-item156">16:00</ion-item>
        <ion-item id="inocoop-list-item157">16:30</ion-item>
        <ion-item id="inocoop-list-item158">17:00</ion-item>
        <ion-item id="inocoop-list-item159">17:30</ion-item>
        <ion-item id="inocoop-list-item160">18:00
          <span class="item-note">Atende Rosa Garcia 1</span>
        </ion-item>
        <ion-item id="inocoop-list-item161">18:30</ion-item>
        <ion-item id="inocoop-list-item162">19:00</ion-item>
        <ion-item id="inocoop-list-item163">20:00</ion-item>
        <ion-item id="inocoop-list-item164">21:00</ion-item>
        <ion-item id="inocoop-list-item165">21:55</ion-item>
        <ion-item id="inocoop-list-item166">23:00</ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>