<ion-view title="Inocoop" id="page15">
  <ion-content padding="true" class="has-header">
    <div id="inocoop2-button-bar12" class="button-bar">
      <a ui-sref="menuTatuBus.inocoop" id="inocoop2-button29" class="button button-light  button-block button-outline">Seg - Sex</a>
      <button id="inocoop2-button33" class="button button-calm  button-block">Sábado</button>
      <a ui-sref="menuTatuBus.inocoop3" id="inocoop2-button34" class="button button-light  button-block button-outline">Domingo</a>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="inocoop2-list54">
      <ion-item class="item-divider" id="inocoop2-list-item-divider24"> Mercado para Inocoop</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="inocoop2-list55">
      <ion-item id="inocoop2-list-item167">6:00</ion-item>
      <ion-item id="inocoop2-list-item168">6:25
        <span class="item-note">Atende Rosa Garcia 1</span>
      </ion-item>
      <ion-item id="inocoop2-list-item169">6:50</ion-item>
      <ion-item id="inocoop2-list-item170">7:15</ion-item>
      <ion-item id="inocoop2-list-item171">7:40
        <span class="item-note">Atende Rosa Garcia 1</span>
      </ion-item>
      <ion-item id="inocoop2-list-item172">8:05</ion-item>
      <ion-item id="inocoop2-list-item173">8:30</ion-item>
      <ion-item id="inocoop2-list-item174">9:00</ion-item>
      <ion-item id="inocoop2-list-item175">9:30</ion-item>
      <ion-item id="inocoop2-list-item176">10:00
        <span class="item-note">Atende Rosa Garcia 1</span>
      </ion-item>
      <ion-item id="inocoop2-list-item177">10:30</ion-item>
      <ion-item id="inocoop2-list-item178">11:00</ion-item>
      <ion-item id="inocoop2-list-item179">11:30</ion-item>
      <ion-item id="inocoop2-list-item180">12:00</ion-item>
      <ion-item id="inocoop2-list-item181">12:30</ion-item>
      <ion-item id="inocoop2-list-item182">13:00</ion-item>
      <ion-item id="inocoop2-list-item183">13:30
        <span class="item-note">Atende Rosa Garcia 1</span>
      </ion-item>
      <ion-item id="inocoop2-list-item184">14:00</ion-item>
      <ion-item id="inocoop2-list-item185">14:30</ion-item>
      <ion-item id="inocoop2-list-item186">15:00</ion-item>
      <ion-item id="inocoop2-list-item187">15:30</ion-item>
      <ion-item id="inocoop2-list-item188">16:00</ion-item>
      <ion-item id="inocoop2-list-item189">16:30</ion-item>
      <ion-item id="inocoop2-list-item190">17:00</ion-item>
      <ion-item id="inocoop2-list-item191">17:30
        <span class="item-note">Atende Rosa Garcia 1</span>
      </ion-item>
      <ion-item id="inocoop2-list-item192">18:00</ion-item>
      <ion-item id="inocoop2-list-item193">18:30</ion-item>
      <ion-item id="inocoop2-list-item194">19:30</ion-item>
      <ion-item id="inocoop2-list-item195">20:30</ion-item>
      <ion-item id="inocoop2-list-item196">21:30</ion-item>
      <ion-item id="inocoop2-list-item197">22:30</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="inocoop2-list56">
      <ion-item class="item-divider" id="inocoop2-list-item-divider25"> Inocoop para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="inocoop2-list58">
      <ion-list id="inocoop2-list57">
        <ion-item id="inocoop2-list-item198">6:25</ion-item>
        <ion-item id="inocoop2-list-item199">6:50
          <span class="item-note">Atende Rosa Garcia 1</span>
        </ion-item>
        <ion-item id="inocoop2-list-item200">7:15</ion-item>
        <ion-item id="inocoop2-list-item201">7:40</ion-item>
        <ion-item id="inocoop2-list-item202">8:05
          <span class="item-note">Atende Rosa Garcia 1</span>
        </ion-item>
        <ion-item id="inocoop2-list-item203">8:30</ion-item>
        <ion-item id="inocoop2-list-item204">9:00</ion-item>
        <ion-item id="inocoop2-list-item205">9:30</ion-item>
        <ion-item id="inocoop2-list-item206">10:00</ion-item>
        <ion-item id="inocoop2-list-item207">10:30
          <span class="item-note">Atende Rosa Garcia 1</span>
        </ion-item>
        <ion-item id="inocoop2-list-item208">11:00</ion-item>
        <ion-item id="inocoop2-list-item209">11:30</ion-item>
        <ion-item id="inocoop2-list-item210">12:00</ion-item>
        <ion-item id="inocoop2-list-item211">12:30</ion-item>
        <ion-item id="inocoop2-list-item212">13:00</ion-item>
        <ion-item id="inocoop2-list-item213">13:30</ion-item>
        <ion-item id="inocoop2-list-item214">14:00
          <span class="item-note">Atende Rosa Garcia 1</span>
        </ion-item>
        <ion-item id="inocoop2-list-item215">14:30</ion-item>
        <ion-item id="inocoop2-list-item216">15:00</ion-item>
        <ion-item id="inocoop2-list-item217">15:30</ion-item>
        <ion-item id="inocoop2-list-item218">16:00</ion-item>
        <ion-item id="inocoop2-list-item219">16:30</ion-item>
        <ion-item id="inocoop2-list-item220">17:00</ion-item>
        <ion-item id="inocoop2-list-item221">17:30</ion-item>
        <ion-item id="inocoop2-list-item222">18:00
          <span class="item-note">Atende Rosa Garcia 1</span>
        </ion-item>
        <ion-item id="inocoop2-list-item223">18:30</ion-item>
        <ion-item id="inocoop2-list-item224">19:00</ion-item>
        <ion-item id="inocoop2-list-item225">20:00</ion-item>
        <ion-item id="inocoop2-list-item226">21:00</ion-item>
        <ion-item id="inocoop2-list-item227">21:55</ion-item>
        <ion-item id="inocoop2-list-item228">23:00</ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>