<ion-view title="Jardim Gramado" id="page19">
  <ion-content padding="true" class="has-header">
    <div id="jardimGramado2-button-bar16" class="button-bar">
      <a ui-sref="menuTatuBus.jardimGramado" id="jardimGramado2-button47" class="button button-light  button-block button-outline">Seg - Sex</a>
      <button id="jardimGramado2-button48" class="button button-calm  button-block">Sábado</button>
      <a ui-sref="menuTatuBus.jardimGramado3" id="jardimGramado2-button49" class="button button-light  button-block button-outline">Domingo</a>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="jardimGramado2-list81">
      <ion-item class="item-divider" id="jardimGramado2-list-item-divider33"> Mercado p/ Jd. Gramado (s/ Campi.)</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="jardimGramado2-list82">
      <ion-item id="jardimGramado2-list-item356">6:00</ion-item>
      <ion-item id="jardimGramado2-list-item357">10:30</ion-item>
      <ion-item id="jardimGramado2-list-item366">13:30</ion-item>
      <ion-item id="jardimGramado2-list-item367">16:30</ion-item>
      <ion-item id="jardimGramado2-list-item368">18:30</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="jardimGramado2-list87">
      <ion-item class="item-divider" id="jardimGramado2-list-item-divider36"> Jd. Gramado p/ Mercado (s/ Campi.)</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="jardimGramado2-list89">
      <ion-list id="jardimGramado2-list88">
        <ion-item id="jardimGramado2-list-item363">6:45</ion-item>
        <ion-item id="jardimGramado2-list-item364">11:15</ion-item>
        <ion-item id="jardimGramado2-list-item365">14:15</ion-item>
        <ion-item id="jardimGramado2-list-item369">17:15</ion-item>
        <ion-item id="jardimGramado2-list-item370">19:15</ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>