<ion-view title="Jardim Gramado" id="page18">
  <ion-content padding="true" class="has-header">
    <div id="jardimGramado-button-bar15" class="button-bar">
      <button id="jardimGramado-button44" class="button button-calm  button-block">Seg - Sex</button>
      <a ui-sref="menuTatuBus.jardimGramado2" id="jardimGramado-button45" class="button button-light  button-block button-outline">Sábado</a>
      <a ui-sref="menuTatuBus.jardimGramado3" id="jardimGramado-button46" class="button button-light  button-block button-outline">Domingo</a>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="jardimGramado-list69">
      <ion-item class="item-divider" id="jardimGramado-list-item-divider29"> Mercado p/ Jd. Gramado (Campinho)</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="jardimGramado-list74">
      <ion-item id="jardimGramado-list-item344">6:00
        <span class="item-note">Corre Terça - Quarta - Sexta</span>
      </ion-item>
      <ion-item id="jardimGramado-list-item345">16:20
        <span class="item-note">Corre Terça - Quarta - sexta</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="jardimGramado-list71">
      <ion-item class="item-divider" id="jardimGramado-list-item-divider30"> Campinho para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="jardimGramado-list75">
      <ion-item id="jardimGramado-list-item347">6:45
        <span class="item-note">Corre Terça - Quarta - Sexta</span>
      </ion-item>
      <ion-item id="jardimGramado-list-item348">17:15
        <span class="item-note">Corre Terça - Quarta - Sexta</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="jardimGramado-list76">
      <ion-item class="item-divider" id="jardimGramado-list-item-divider31"> Mercado p/ Jd. Gramado (s/ Campi.)</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="jardimGramado-list77">
      <ion-item id="jardimGramado-list-item350">10:30
        <span class="item-note">Corre Segunda - Quinta - Sábado</span>
      </ion-item>
      <ion-item id="jardimGramado-list-item351">13:30
        <span class="item-note">Corre Segunda - Quinta - Sábado</span>
      </ion-item>
      <ion-item id="jardimGramado-list-item352">18:30
        <span class="item-note">Corre Segunda - Quinta - Sábado</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="jardimGramado-list80">
      <ion-item class="item-divider" id="jardimGramado-list-item-divider32"> Jd. Gramado p/ Mercado (s/ Campi.)</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="jardimGramado-list78">
      <ion-list id="jardimGramado-list79">
        <ion-item id="jardimGramado-list-item353">11:15
          <span class="item-note">Corre Segunda - Quinta - Sábado</span>
        </ion-item>
        <ion-item id="jardimGramado-list-item354">14:15
          <span class="item-note">Corre Segunda - Quinta - Sábado</span>
        </ion-item>
        <ion-item id="jardimGramado-list-item355">19:15
          <span class="item-note">Corre Segunda - Quinta - Sábado</span>
        </ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>