<ion-view title="Jardim Gramado" id="page20">
  <ion-content padding="true" class="has-header">
    <div id="jardimGramado3-button-bar17" class="button-bar">
      <a ui-sref="menuTatuBus.jardimGramado" id="jardimGramado3-button50" class="button button-light  button-block button-outline">Seg - Sex</a>
      <a ui-sref="menuTatuBus.jardimGramado2" id="jardimGramado3-button51" class="button button-light  button-block button-outline">Sábado</a>
      <button id="jardimGramado3-button52" class="button button-calm  button-block">Domingo</button>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="jardimGramado3-list90">
      <ion-item class="item-divider" id="jardimGramado3-list-item-divider37"> Mercado p/ Jd. Gramado (s/ Campi.)</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="jardimGramado3-list91">
      <ion-item id="jardimGramado3-list-item371">9:00</ion-item>
      <ion-item id="jardimGramado3-list-item372">12:00</ion-item>
      <ion-item id="jardimGramado3-list-item373">16:30</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="jardimGramado3-list92">
      <ion-item class="item-divider" id="jardimGramado3-list-item-divider38"> Jd. Gramado p/ Mercado (s/ Campi.)</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="jardimGramado3-list94">
      <ion-list id="jardimGramado3-list93">
        <ion-item id="jardimGramado3-list-item376">9:45</ion-item>
        <ion-item id="jardimGramado3-list-item377">12:45</ion-item>
        <ion-item id="jardimGramado3-list-item378">17:15</ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>