<ion-view title="Lopesco" id="page21">
  <ion-content padding="true" class="has-header">
    <div id="lopesco-button-bar14" class="button-bar"></div>
    <div class="item item-body" id="lopesco-list-item-container7">
      <div id="lopesco-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Corre apenas em
          <strong>dias úteis</strong>.</p>
      </div>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="lopesco-list95">
      <ion-item class="item-divider" id="lopesco-list-item-divider27"> Rosa Garcia 1 para Lopesco</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="lopesco-list96">
      <ion-item id="lopesco-list-item246">5:40</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="lopesco-list98">
      <ion-item class="item-divider" id="lopesco-list-item-divider34"> Valinhos para Lopesco</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="lopesco-list99">
      <ion-item id="lopesco-list-item248">5:45</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="lopesco-list100">
      <ion-item class="item-divider" id="lopesco-list-item-divider35"> Shigueno para Lopesco</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="lopesco-list101">
      <ion-item id="lopesco-list-item250">5:45</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="lopesco-list102">
      <ion-item class="item-divider" id="lopesco-list-item-divider39"> Lopesco para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <ion-list id="lopesco-list105">
      <ion-item id="lopesco-list-item253">6:20</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="lopesco-list106">
      <ion-item class="item-divider" id="lopesco-list-item-divider41"> Jardim Perdizes para Lopesco</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="lopesco-list108">
      <ion-item id="lopesco-list-item254">5:55</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="lopesco-list109">
      <ion-item class="item-divider" id="lopesco-list-item-divider42"> Mirandas para Lopesco</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="lopesco-list111">
      <ion-item id="lopesco-list-item256">6:00</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="lopesco-list113">
      <ion-item class="item-divider" id="lopesco-list-item-divider43"> San Raphael - Lopesco para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="lopesco-list114">
      <ion-item id="lopesco-list-item260">8:30</ion-item>
      <ion-item id="lopesco-list-item262">14:30</ion-item>
    </ion-list>
  </ion-content>
</ion-view>