<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-calm">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-content padding="false" style="top:0px !important;" class="side-menu-left ">
      <ion-list id="menuTatuBus-list1">
        <ion-item id="menuTatuBus-list-item1" ui-sref="menuTatuBus.tatuBus" menu-close="">Início
          <span class="item-note">Tabela de horários</span>
        </ion-item>
        <ion-item id="menuTatuBus-list-item3">Sobre</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>