<ion-view title="Mirandas" id="page23">
  <ion-content padding="true" class="has-header">
    <div id="mirandas2-button-bar19" class="button-bar">
      <a ui-sref="menuTatuBus.mirandas" id="mirandas2-button42" class="button button-light  button-block button-outline">Seg - Sex</a>
      <button id="mirandas2-button43" class="button button-calm  button-block">Sábado</button>
      <a ui-sref="menuTatuBus.mirandas3" id="mirandas2-button53" class="button button-light  button-block button-outline">Domingo</a>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="mirandas2-list115">
      <ion-item class="item-divider" id="mirandas2-list-item-divider45"> Mercado para os Mirandas</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="mirandas2-list116">
      <ion-item id="mirandas2-list-item278">5:30</ion-item>
      <ion-item id="mirandas2-list-item279">7:00</ion-item>
      <ion-item id="mirandas2-list-item280">7:00</ion-item>
      <ion-item id="mirandas2-list-item281">8:30</ion-item>
      <ion-item id="mirandas2-list-item282">10:00</ion-item>
      <ion-item id="mirandas2-list-item283">11:30</ion-item>
      <ion-item id="mirandas2-list-item284">13:00</ion-item>
      <ion-item id="mirandas2-list-item285">14:30</ion-item>
      <ion-item id="mirandas2-list-item286">16:00</ion-item>
      <ion-item id="mirandas2-list-item287">17:30</ion-item>
      <ion-item id="mirandas2-list-item288">19:00</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="mirandas2-list117">
      <ion-item class="item-divider" id="mirandas2-list-item-divider46"> Mirandas para o Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="mirandas2-list119">
      <ion-list id="mirandas2-list118">
        <ion-item id="mirandas2-list-item290">6:00</ion-item>
        <ion-item id="mirandas2-list-item291">7:45</ion-item>
        <ion-item id="mirandas2-list-item292">9:15</ion-item>
        <ion-item id="mirandas2-list-item293">10:45</ion-item>
        <ion-item id="mirandas2-list-item294">12:15</ion-item>
        <ion-item id="mirandas2-list-item295">13:45</ion-item>
        <ion-item id="mirandas2-list-item296">15:15</ion-item>
        <ion-item id="mirandas2-list-item297">16:45</ion-item>
        <ion-item id="mirandas2-list-item298">18:15</ion-item>
        <ion-item id="mirandas2-list-item300">19:45</ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>