<ion-view title="Mirandas" id="page24">
  <ion-content padding="true" class="has-header">
    <div id="mirandas3-button-bar20" class="button-bar">
      <a ui-sref="menuTatuBus.mirandas" id="mirandas3-button54" class="button button-light  button-block button-outline">Seg - Sex</a>
      <a ui-sref="menuTatuBus.mirandas2" id="mirandas3-button55" class="button button-light  button-block button-outline">Sábado</a>
      <button id="mirandas3-button56" class="button button-calm  button-block">Domingo</button>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="mirandas3-list120">
      <ion-item class="item-divider" id="mirandas3-list-item-divider47"> Mercado para os Mirandas</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="mirandas3-list121">
      <ion-item id="mirandas3-list-item302">7:00</ion-item>
      <ion-item id="mirandas3-list-item303">8:30</ion-item>
      <ion-item id="mirandas3-list-item304">10:00</ion-item>
      <ion-item id="mirandas3-list-item305">11:30</ion-item>
      <ion-item id="mirandas3-list-item306">16:00</ion-item>
      <ion-item id="mirandas3-list-item307">17:30</ion-item>
      <ion-item id="mirandas3-list-item329">19:00</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="mirandas3-list122">
      <ion-item class="item-divider" id="mirandas3-list-item-divider48"> Mirandas para o Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="mirandas3-list124">
      <ion-list id="mirandas3-list123">
        <ion-item id="mirandas3-list-item330">7:45</ion-item>
        <ion-item id="mirandas3-list-item331">9:15</ion-item>
        <ion-item id="mirandas3-list-item332">10:45</ion-item>
        <ion-item id="mirandas3-list-item333">12:15</ion-item>
        <ion-item id="mirandas3-list-item334">16:45</ion-item>
        <ion-item id="mirandas3-list-item335">18:15</ion-item>
        <ion-item id="mirandas3-list-item339">19:45</ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>