<ion-view title="Mirandas" id="page22">
  <ion-content padding="true" class="has-header">
    <div id="mirandas-button-bar18" class="button-bar">
      <button id="mirandas-button38" class="button button-calm  button-block">Seg - Sex</button>
      <a ui-sref="menuTatuBus.mirandas2" id="mirandas-button39" class="button button-light  button-block button-outline">Sábado</a>
      <a ui-sref="menuTatuBus.mirandas3" id="mirandas-button41" class="button button-light  button-block button-outline">Domingo</a>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="mirandas-list103">
      <ion-item class="item-divider" id="mirandas-list-item-divider40"> Mercado para os Mirandas</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="mirandas-list104">
      <ion-item id="mirandas-list-item247">5:30
        <span class="item-note">Na volta, passa na Lopesco</span>
      </ion-item>
      <ion-item id="mirandas-list-item249">6:10</ion-item>
      <ion-item id="mirandas-list-item251">7:00</ion-item>
      <ion-item id="mirandas-list-item252">8:30
        <span class="item-note">Vai até Lopesco</span>
      </ion-item>
      <ion-item id="mirandas-list-item255">10:00</ion-item>
      <ion-item id="mirandas-list-item257">11:30</ion-item>
      <ion-item id="mirandas-list-item258">13:00</ion-item>
      <ion-item id="mirandas-list-item259">14:30</ion-item>
      <ion-item id="mirandas-list-item270">16:00</ion-item>
      <ion-item id="mirandas-list-item271">17:30</ion-item>
      <ion-item id="mirandas-list-item272">19:00</ion-item>
      <ion-item id="mirandas-list-item273">21:00</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="mirandas-list107">
      <ion-item class="item-divider" id="mirandas-list-item-divider44"> Mirandas para o Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="mirandas-list112">
      <ion-list id="mirandas-list110">
        <ion-item id="mirandas-list-item261">5:50
          <span class="item-note">Passa na Lopesco</span>
        </ion-item>
        <ion-item id="mirandas-list-item263">7:00</ion-item>
        <ion-item id="mirandas-list-item264">7:45</ion-item>
        <ion-item id="mirandas-list-item265">9:15
          <span class="item-note">Vai até Lopesco, depois p/ Mirandas</span>
        </ion-item>
        <ion-item id="mirandas-list-item266">10:45</ion-item>
        <ion-item id="mirandas-list-item267">12:15</ion-item>
        <ion-item id="mirandas-list-item268">13:45</ion-item>
        <ion-item id="mirandas-list-item269">15:15</ion-item>
        <ion-item id="mirandas-list-item274">16:45</ion-item>
        <ion-item id="mirandas-list-item275">18:15</ion-item>
        <ion-item id="mirandas-list-item276">19:45</ion-item>
        <ion-item id="mirandas-list-item277">21:45</ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>