<ion-view title="Palanque" id="page25">
  <ion-content padding="true" class="has-header">
    <div id="palanque-button-bar21" class="button-bar">
      <button id="palanque-button57" class="button button-calm  button-block">Seg - Qui</button>
      <a ui-sref="menuTatuBus.palanque2" id="palanque-button58" class="button button-light  button-block button-outline">Sábado</a>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div class="item item-body" id="palanque-list-item-container8">
      <div id="palanque-markdown12" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Linha corre apenas de
          <strong>segunda a quinta</strong>.</p>
      </div>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="palanque-list125">
      <ion-item class="item-divider" id="palanque-list-item-divider49"> Mercado para Palanqe</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="palanque-list126">
      <ion-item id="palanque-list-item289">7:30</ion-item>
    </ion-list>
    <ion-list id="palanque-list127">
      <ion-item id="palanque-list-item299">14:00
        <span class="item-note">Itinerário diferenciado</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="palanque-list128">
      <ion-item class="item-divider" id="palanque-list-item-divider50"> Palanque para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="palanque-list129">
      <ion-item id="palanque-list-item301">7:50</ion-item>
      <ion-item id="palanque-list-item325">15:35
        <span class="item-note">Itinerário diferenciado</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>