<ion-view title="San Raphael/Colina Verde" id="page39">
  <ion-content padding="true" class="has-header">
    <div id="sanRaphaelColinaVerde3-button-bar35" class="button-bar">
      <a ui-sref="menuTatuBus.sanRaphaelColinaVerde" id="sanRaphaelColinaVerde3-button104" class="button button-light  button-block button-outline">Seg - Sex</a>
      <a ui-sref="menuTatuBus.sanRaphaelColinaVerde2" id="sanRaphaelColinaVerde3-button105" class="button button-light  button-block button-outline">Sábado</a>
      <button id="sanRaphaelColinaVerde3-button106" class="button button-calm  button-block">Domingo</button>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="sanRaphaelColinaVerde3-list256">
      <ion-item class="item-divider" id="sanRaphaelColinaVerde3-list-item-divider116"> Mercado para San Raphael</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="sanRaphaelColinaVerde3-list257">
      <ion-item id="sanRaphaelColinaVerde3-list-item1294">6:30</ion-item>
      <ion-item id="sanRaphaelColinaVerde3-list-item1295">7:30
        <span class="item-note">Atende a Colina Verde</span>
      </ion-item>
      <ion-item id="sanRaphaelColinaVerde3-list-item1296">8:30</ion-item>
      <ion-item id="sanRaphaelColinaVerde3-list-item1297">9:30</ion-item>
      <ion-item id="sanRaphaelColinaVerde3-list-item1298">10:30</ion-item>
      <ion-item id="sanRaphaelColinaVerde3-list-item1299">11:30</ion-item>
      <ion-item id="sanRaphaelColinaVerde3-list-item1300">12:30
        <span class="item-note">Atende a Colina Verde</span>
      </ion-item>
      <ion-item id="sanRaphaelColinaVerde3-list-item1301">13:30</ion-item>
      <ion-item id="sanRaphaelColinaVerde3-list-item1302">16:30</ion-item>
      <ion-item id="sanRaphaelColinaVerde3-list-item1304">16:30
        <span class="item-note">Atende a Colina Verde</span>
      </ion-item>
      <ion-item id="sanRaphaelColinaVerde3-list-item1306">18:30</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="sanRaphaelColinaVerde3-list258">
      <ion-item class="item-divider" id="sanRaphaelColinaVerde3-list-item-divider117"> San Raphael para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="sanRaphaelColinaVerde3-list259">
      <ion-item id="sanRaphaelColinaVerde3-list-item1307">7:00</ion-item>
      <ion-item id="sanRaphaelColinaVerde3-list-item1308">8:00
        <span class="item-note">Atende a Colina Verde</span>
      </ion-item>
      <ion-item id="sanRaphaelColinaVerde3-list-item1309">9:00</ion-item>
      <ion-item id="sanRaphaelColinaVerde3-list-item1310">10:00</ion-item>
      <ion-item id="sanRaphaelColinaVerde3-list-item1311">11:00</ion-item>
      <ion-item id="sanRaphaelColinaVerde3-list-item1312">12:00</ion-item>
      <ion-item id="sanRaphaelColinaVerde3-list-item1313">13:00
        <span class="item-note">Atende a Colina Verde</span>
      </ion-item>
      <ion-item id="sanRaphaelColinaVerde3-list-item1314">14:00</ion-item>
      <ion-item id="sanRaphaelColinaVerde3-list-item1317">17:00</ion-item>
      <ion-item id="sanRaphaelColinaVerde3-list-item1318">18:00
        <span class="item-note">Atende a Colina Verde</span>
      </ion-item>
      <ion-item id="sanRaphaelColinaVerde3-list-item1319">19:00</ion-item>
    </ion-list>
  </ion-content>
</ion-view>