<ion-view title="San Raphael/Colina Verde" id="page38">
  <ion-content padding="true" class="has-header">
    <div id="sanRaphaelColinaVerde2-button-bar34" class="button-bar">
      <a ui-sref="menuTatuBus.sanRaphaelColinaVerde" id="sanRaphaelColinaVerde2-button101" class="button button-light  button-block button-outline">Seg - Sex</a>
      <button id="sanRaphaelColinaVerde2-button102" class="button button-calm  button-block">Sábado</button>
      <a ui-sref="menuTatuBus.sanRaphaelColinaVerde3" id="sanRaphaelColinaVerde2-button103" class="button button-light  button-block button-outline">Domingo</a>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="sanRaphaelColinaVerde2-list252">
      <ion-item class="item-divider" id="sanRaphaelColinaVerde2-list-item-divider114"> Mercado para San Raphael</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="sanRaphaelColinaVerde2-list253">
      <ion-item id="sanRaphaelColinaVerde2-list-item1268">6:30</ion-item>
      <ion-item id="sanRaphaelColinaVerde2-list-item1269">7:30
        <span class="item-note">Atende a Colina Verde</span>
      </ion-item>
      <ion-item id="sanRaphaelColinaVerde2-list-item1270">8:30
        <span class="item-note">Atende a Colina Verde</span>
      </ion-item>
      <ion-item id="sanRaphaelColinaVerde2-list-item1271">9:30</ion-item>
      <ion-item id="sanRaphaelColinaVerde2-list-item1272">10:30</ion-item>
      <ion-item id="sanRaphaelColinaVerde2-list-item1273">11:30
        <span class="item-note">Atende a Colina Verde</span>
      </ion-item>
      <ion-item id="sanRaphaelColinaVerde2-list-item1274">12:30</ion-item>
      <ion-item id="sanRaphaelColinaVerde2-list-item1275">13:30
        <span class="item-note">Atende a Colina Verde</span>
      </ion-item>
      <ion-item id="sanRaphaelColinaVerde2-list-item1276">14:30</ion-item>
      <ion-item id="sanRaphaelColinaVerde2-list-item1277">15:30
        <span class="item-note">Atende a Colina Verde</span>
      </ion-item>
      <ion-item id="sanRaphaelColinaVerde2-list-item1278">16:30
        <span class="item-note">Atende a Gralha Azul</span>
      </ion-item>
      <ion-item id="sanRaphaelColinaVerde2-list-item1290">17:30</ion-item>
      <ion-item id="sanRaphaelColinaVerde2-list-item1291">18:30
        <span class="item-note">Atende a Colina Verde</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="sanRaphaelColinaVerde2-list254">
      <ion-item class="item-divider" id="sanRaphaelColinaVerde2-list-item-divider115"> San Raphael para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="sanRaphaelColinaVerde2-list255">
      <ion-item id="sanRaphaelColinaVerde2-list-item1279">7:00</ion-item>
      <ion-item id="sanRaphaelColinaVerde2-list-item1280">8:00
        <span class="item-note">Atende a Colina Verde</span>
      </ion-item>
      <ion-item id="sanRaphaelColinaVerde2-list-item1281">9:00
        <span class="item-note">Atende a Colina Verde</span>
      </ion-item>
      <ion-item id="sanRaphaelColinaVerde2-list-item1282">10:00</ion-item>
      <ion-item id="sanRaphaelColinaVerde2-list-item1283">11:00</ion-item>
      <ion-item id="sanRaphaelColinaVerde2-list-item1284">12:00</ion-item>
      <ion-item id="sanRaphaelColinaVerde2-list-item1285">13:00</ion-item>
      <ion-item id="sanRaphaelColinaVerde2-list-item1286">14:00
        <span class="item-note">Atende a Colina Verde</span>
      </ion-item>
      <ion-item id="sanRaphaelColinaVerde2-list-item1287">15:00</ion-item>
      <ion-item id="sanRaphaelColinaVerde2-list-item1288">16:00
        <span class="item-note">Atende a Colina Verde</span>
      </ion-item>
      <ion-item id="sanRaphaelColinaVerde2-list-item1289">17:00
        <span class="item-note">Atende a Gralha Azul</span>
      </ion-item>
      <ion-item id="sanRaphaelColinaVerde2-list-item1292">18:00</ion-item>
      <ion-item id="sanRaphaelColinaVerde2-list-item1293">19:00
        <span class="item-note">Atende a Colina Verde</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>