<ion-view title="San Raphael/Colina Verde" id="page37">
  <ion-content padding="true" class="has-header">
    <div id="sanRaphaelColinaVerde-button-bar33" class="button-bar">
      <button id="sanRaphaelColinaVerde-button98" class="button button-calm  button-block">Seg - Sex</button>
      <a ui-sref="menuTatuBus.sanRaphaelColinaVerde2" id="sanRaphaelColinaVerde-button99" class="button button-light  button-block button-outline">Sábado</a>
      <a ui-sref="menuTatuBus.sanRaphaelColinaVerde3" id="sanRaphaelColinaVerde-button100" class="button button-light  button-block button-outline">Domingo</a>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="sanRaphaelColinaVerde-list243">
      <ion-item class="item-divider" id="sanRaphaelColinaVerde-list-item-divider110"> Mercado p/ San Raphael (Lopesco)</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="sanRaphaelColinaVerde-list245">
      <ion-item id="sanRaphaelColinaVerde-list-item1238">11:30
        <span class="item-note">Atende a Colina Verde</span>
      </ion-item>
      <ion-item id="sanRaphaelColinaVerde-list-item1239">14:30</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="sanRaphaelColinaVerde-list246">
      <ion-item class="item-divider" id="sanRaphaelColinaVerde-list-item-divider111"> Mercado para San Raphael</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="sanRaphaelColinaVerde-list247">
      <ion-item id="sanRaphaelColinaVerde-list-item1244">6:30</ion-item>
      <ion-item id="sanRaphaelColinaVerde-list-item1245">7:30
        <span class="item-note">Atende a Colina Verde</span>
      </ion-item>
      <ion-item id="sanRaphaelColinaVerde-list-item1246">8:30
        <span class="item-note">Atende a Colina Verde</span>
      </ion-item>
      <ion-item id="sanRaphaelColinaVerde-list-item1247">9:30</ion-item>
      <ion-item id="sanRaphaelColinaVerde-list-item1248">10:30</ion-item>
      <ion-item id="sanRaphaelColinaVerde-list-item1249">12:30</ion-item>
      <ion-item id="sanRaphaelColinaVerde-list-item1250">13:30
        <span class="item-note">Atende a Colina Verde</span>
      </ion-item>
      <ion-item id="sanRaphaelColinaVerde-list-item1251">15:30
        <span class="item-note">Atende a Colina Verde</span>
      </ion-item>
      <ion-item id="sanRaphaelColinaVerde-list-item1252">16:30
        <span class="item-note">Vai até Gralha Azul</span>
      </ion-item>
      <ion-item id="sanRaphaelColinaVerde-list-item1253">17:30</ion-item>
      <ion-item id="sanRaphaelColinaVerde-list-item1254">18:30
        <span class="item-note">Atende a Colina Verde</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="sanRaphaelColinaVerde-list249">
      <ion-item class="item-divider" id="sanRaphaelColinaVerde-list-item-divider112"> San Raphael para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="sanRaphaelColinaVerde-list248">
      <ion-item id="sanRaphaelColinaVerde-list-item1255">7:00</ion-item>
      <ion-item id="sanRaphaelColinaVerde-list-item1256">8:00
        <span class="item-note">Atende a Colina Verde</span>
      </ion-item>
      <ion-item id="sanRaphaelColinaVerde-list-item1257">9:00
        <span class="item-note">Atende a Colina Verde</span>
      </ion-item>
      <ion-item id="sanRaphaelColinaVerde-list-item1258">10:00</ion-item>
      <ion-item id="sanRaphaelColinaVerde-list-item1259">11:00</ion-item>
      <ion-item id="sanRaphaelColinaVerde-list-item1260">13:00</ion-item>
      <ion-item id="sanRaphaelColinaVerde-list-item1261">14:00
        <span class="item-note">Atende a Colina Verde</span>
      </ion-item>
      <ion-item id="sanRaphaelColinaVerde-list-item1262">16:00
        <span class="item-note">Atende a Colina Verde</span>
      </ion-item>
      <ion-item id="sanRaphaelColinaVerde-list-item1263">17:00
        <span class="item-note">Vai até Gralha Azul</span>
      </ion-item>
      <ion-item id="sanRaphaelColinaVerde-list-item1264">18:00</ion-item>
      <ion-item id="sanRaphaelColinaVerde-list-item1265">19:00
        <span class="item-note">Atende a Colina Verde</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>