<ion-view title="Santista/Jd. Lírio/Americana" id="page32">
  <ion-content padding="true" class="has-header">
    <div id="santistaJdLRioAmericana2-button-bar28" class="button-bar">
      <a ui-sref="menuTatuBus.santistaJdLRioAmericana" id="santistaJdLRioAmericana2-button81" class="button button-light  button-block button-outline">Seg - Sex</a>
      <button id="santistaJdLRioAmericana2-button82" class="button button-calm  button-block">Sábado</button>
      <a ui-sref="menuTatuBus.santistaJdLRioAmericana3" id="santistaJdLRioAmericana2-button83" class="button button-light  button-block button-outline">Domingo</a>
    </div>
    <ion-list id="santistaJdLRioAmericana2-list204">
      <ion-item class="item-divider" id="santistaJdLRioAmericana2-list-item-divider84"> Mercado para Santista</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santistaJdLRioAmericana2-list202">
      <ion-item id="santistaJdLRioAmericana2-list-item1045">6:00
        <span class="item-note">Entrada especial da Santista</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="santistaJdLRioAmericana2-list203">
      <ion-item class="item-divider" id="santistaJdLRioAmericana2-list-item-divider85"> Santista para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santistaJdLRioAmericana2-list205">
      <ion-item id="santistaJdLRioAmericana2-list-item1046">6:15
        <span class="item-note">Entrada especial da Santista</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="santistaJdLRioAmericana2-list184">
      <ion-item class="item-divider" id="santistaJdLRioAmericana2-list-item-divider76"> Mercado para Shigueno</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santistaJdLRioAmericana2-list185">
      <ion-item id="santistaJdLRioAmericana2-list-item931">8:30
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item932">10:10
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item933">12:50
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item934">14:05
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item935">16:50
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item936">19:30
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="santistaJdLRioAmericana2-list186">
      <ion-item class="item-divider" id="santistaJdLRioAmericana2-list-item-divider77"> Shigueno para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santistaJdLRioAmericana2-list187">
      <ion-item id="santistaJdLRioAmericana2-list-item937">8:50
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item938">10:30
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item939">13:10
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item940">14:25
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item941">17:10
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item942">19:55
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="santistaJdLRioAmericana2-list188">
      <ion-item class="item-divider" id="santistaJdLRioAmericana2-list-item-divider78"> Mercado para Vale dos Lagos</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santistaJdLRioAmericana2-list189">
      <ion-item id="santistaJdLRioAmericana2-list-item943">5:25</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item944">6:15</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item945">6:55</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item946">7:25</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item947">7:50</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item948">9:05</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item949">9:30</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item950">10:45</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item951">11:10</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item952">11:50</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item953">12:25</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item954">13:30</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item955">14:30</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item956">15:10</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item957">15:45</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item958">16:10</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item959">17:25</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item960">17:50</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item961">18:30</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item962">19:05</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item963">19:55</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item964">21:35
        <span class="item-note">Aguarda na Santista até 22:15</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="santistaJdLRioAmericana2-list190">
      <ion-item class="item-divider" id="santistaJdLRioAmericana2-list-item-divider79"> Vale dos Lagos para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santistaJdLRioAmericana2-list191">
      <ion-item id="santistaJdLRioAmericana2-list-item965">5:45</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item966">6:30</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item967">7:15</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item968">7:45</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item969">8:10</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item970">9:25</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item971">9:50</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item972">11:05</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item973">11:30</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item974">12:10</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item975">12:45</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item976">13:50</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item977">14:50</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item978">15:30</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item979">16:05</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item980">16:30</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item981">17:45</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item982">18:10</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item983">18:50</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item984">19:30</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item985">20:20</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item986">22:00
        <span class="item-note">Aguarda na Santista até 22:15</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="santistaJdLRioAmericana2-list192">
      <ion-item class="item-divider" id="santistaJdLRioAmericana2-list-item-divider80"> Sai Santista - Mercado p/ Shigueno</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santistaJdLRioAmericana2-list193">
      <ion-item id="santistaJdLRioAmericana2-list-item987">22:00</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="santistaJdLRioAmericana2-list194">
      <ion-item class="item-divider" id="santistaJdLRioAmericana2-list-item-divider81"> Sai Santista - Shigueno p/ Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santistaJdLRioAmericana2-list195">
      <ion-item id="santistaJdLRioAmericana2-list-item988">22:15</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="santistaJdLRioAmericana2-list196">
      <ion-item class="item-divider" id="santistaJdLRioAmericana2-list-item-divider82"> Jardim Lírio para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santistaJdLRioAmericana2-list197">
      <ion-item id="santistaJdLRioAmericana2-list-item989">5:55
        <span class="item-note">Linha inicia no Jd. Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item990">6:30
        <span class="item-note">Linha inicia no Jd. Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item991">7:05</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item992">7:20
        <span class="item-note">Atende Lírio/Americ. e Gralha Azul</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item993">8:00</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item994">8:45</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item995">9:00</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item996">9:40
        <span class="item-note">Atende Americana. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item997">10:15</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item998">10:40</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item999">11:20
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1000">11:55</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1001">12:20</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1002">13:00</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1003">13:35
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1004">14:00</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1005">14:40</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1006">15:15</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1007">15:40
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1008">16:20</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1009">16:55</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1010">17:20
        <span class="item-note">Passa na Gralha Azul</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1011">18:00
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1012">18:35</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1013">19:00</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1014">19:40
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1015">20:45</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1016">21:10
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1017">22:50</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="santistaJdLRioAmericana2-list198">
      <ion-item class="item-divider" id="santistaJdLRioAmericana2-list-item-divider83"> Mercado para Jardim Lírio</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santistaJdLRioAmericana2-list199">
      <ion-item id="santistaJdLRioAmericana2-list-item1018">6:35</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1019">6:50
        <span class="item-note">Atende Lírio/Americ. e Gralha Azul</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1020">7:30</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1021">8:05</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1022">8:30</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1023">9:10
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1024">9:45</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1025">10:10</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1026">10:50</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1027">11:25</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1028">11:50</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1029">12:30</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1030">13:05
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1031">13:30</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1032">14:10</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1033">14:45</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1034">15:10
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1035">15:50</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1036">16:25</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1037">16:50
        <span class="item-note">Passa na Gralha Azul</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1038">17:30
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1039">18:05</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1040">18:30</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1041">19:10
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1042">20:20</ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1043">20:45
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana2-list-item1044">22:25</ion-item>
    </ion-list>
  </ion-content>
</ion-view>