<ion-view title="Santa Rita" id="page27">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menuTatuBus.santaRita3" id="santaRita-button65" class="button button-light  button-block button-outline">Especiais</a>
    <div id="santaRita-button-bar23" class="button-bar">
      <button id="santaRita-button61" class="button button-calm  button-block">Seg - Sex</button>
      <a ui-sref="menuTatuBus.santaRita4" id="santaRita-button62" class="button button-light  button-block button-outline">Sábado</a>
      <a ui-sref="menuTatuBus.santaRita2" id="santaRita-button63" class="button button-light  button-block button-outline">Domingo</a>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="santaRita-list135">
      <ion-item class="item-divider" id="santaRita-list-item-divider53"> Mercado para Santa Rita</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santaRita-list136">
      <ion-item id="santaRita-list-item337">5:35</ion-item>
      <ion-item id="santaRita-list-item338">5:50</ion-item>
      <ion-item id="santaRita-list-item340">6:00</ion-item>
      <ion-item id="santaRita-list-item341">6:20</ion-item>
      <ion-item id="santaRita-list-item342">6:40</ion-item>
      <ion-item id="santaRita-list-item343">7:00</ion-item>
      <ion-item id="santaRita-list-item346">7:20</ion-item>
      <ion-item id="santaRita-list-item349">7:40</ion-item>
      <ion-item id="santaRita-list-item358">8:00</ion-item>
      <ion-item id="santaRita-list-item359">8:20</ion-item>
      <ion-item id="santaRita-list-item360">8:40</ion-item>
      <ion-item id="santaRita-list-item361">9:00</ion-item>
      <ion-item id="santaRita-list-item362">9:20</ion-item>
      <ion-item id="santaRita-list-item374">9:40</ion-item>
      <ion-item id="santaRita-list-item375">10:00</ion-item>
      <ion-item id="santaRita-list-item483">10:20</ion-item>
      <ion-item id="santaRita-list-item484">10:40</ion-item>
      <ion-item id="santaRita-list-item485">11:00</ion-item>
      <ion-item id="santaRita-list-item486">11:20</ion-item>
      <ion-item id="santaRita-list-item487">11:40</ion-item>
      <ion-item id="santaRita-list-item488">12:00</ion-item>
      <ion-item id="santaRita-list-item489">12:20</ion-item>
      <ion-item id="santaRita-list-item490">12:40</ion-item>
      <ion-item id="santaRita-list-item379">13:00</ion-item>
      <ion-item id="santaRita-list-item380">13:20</ion-item>
      <ion-item id="santaRita-list-item381">13:40</ion-item>
      <ion-item id="santaRita-list-item382">14:00</ion-item>
      <ion-item id="santaRita-list-item383">14:20</ion-item>
      <ion-item id="santaRita-list-item384">14:40</ion-item>
      <ion-item id="santaRita-list-item385">15:00</ion-item>
      <ion-item id="santaRita-list-item386">15:20</ion-item>
      <ion-item id="santaRita-list-item387">15:40</ion-item>
      <ion-item id="santaRita-list-item388">16:00</ion-item>
      <ion-item id="santaRita-list-item389">16:20</ion-item>
      <ion-item id="santaRita-list-item390">16:40</ion-item>
      <ion-item id="santaRita-list-item391">17:00</ion-item>
      <ion-item id="santaRita-list-item392">17:20</ion-item>
      <ion-item id="santaRita-list-item393">17:40</ion-item>
      <ion-item id="santaRita-list-item394">18:00</ion-item>
      <ion-item id="santaRita-list-item426">18:20</ion-item>
      <ion-item id="santaRita-list-item427">18:40</ion-item>
      <ion-item id="santaRita-list-item428">19:00</ion-item>
      <ion-item id="santaRita-list-item429">19:30</ion-item>
      <ion-item id="santaRita-list-item430">19:50</ion-item>
      <ion-item id="santaRita-list-item431">20:20</ion-item>
      <ion-item id="santaRita-list-item432">20:45</ion-item>
      <ion-item id="santaRita-list-item433">21:10</ion-item>
      <ion-item id="santaRita-list-item434">21:35</ion-item>
      <ion-item id="santaRita-list-item436">22:00</ion-item>
      <ion-item id="santaRita-list-item435">22:25</ion-item>
      <ion-item id="santaRita-list-item437">22:50</ion-item>
      <ion-item id="santaRita-list-item438">23:15</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="santaRita-list141">
      <ion-item class="item-divider" id="santaRita-list-item-divider57"> Santa Rita para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santaRita-list137">
      <ion-list id="santaRita-list140">
        <ion-item id="santaRita-list-item439">5:50</ion-item>
        <ion-item id="santaRita-list-item440">6:10</ion-item>
        <ion-item id="santaRita-list-item441">6:30</ion-item>
        <ion-item id="santaRita-list-item442">6:50</ion-item>
        <ion-item id="santaRita-list-item443">7:10</ion-item>
        <ion-item id="santaRita-list-item444">7:30</ion-item>
        <ion-item id="santaRita-list-item445">7:50</ion-item>
        <ion-item id="santaRita-list-item446">8:10</ion-item>
        <ion-item id="santaRita-list-item447">8:30</ion-item>
        <ion-item id="santaRita-list-item448">8:50</ion-item>
        <ion-item id="santaRita-list-item449">9:10</ion-item>
        <ion-item id="santaRita-list-item450">9:30</ion-item>
        <ion-item id="santaRita-list-item451">9:50</ion-item>
        <ion-item id="santaRita-list-item452">10:10</ion-item>
        <ion-item id="santaRita-list-item453">10:30</ion-item>
        <ion-item id="santaRita-list-item454">10:50</ion-item>
        <ion-item id="santaRita-list-item455">11:10</ion-item>
        <ion-item id="santaRita-list-item456">11:30</ion-item>
        <ion-item id="santaRita-list-item457">11:50</ion-item>
        <ion-item id="santaRita-list-item458">12:10</ion-item>
        <ion-item id="santaRita-list-item459">12:30</ion-item>
        <ion-item id="santaRita-list-item460">12:50</ion-item>
        <ion-item id="santaRita-list-item461">13:10</ion-item>
        <ion-item id="santaRita-list-item462">13:30</ion-item>
        <ion-item id="santaRita-list-item463">13:50</ion-item>
        <ion-item id="santaRita-list-item464">14:10</ion-item>
        <ion-item id="santaRita-list-item465">14:30</ion-item>
        <ion-item id="santaRita-list-item466">14:50</ion-item>
        <ion-item id="santaRita-list-item467">15:10</ion-item>
        <ion-item id="santaRita-list-item468">15:30</ion-item>
        <ion-item id="santaRita-list-item469">15:50</ion-item>
        <ion-item id="santaRita-list-item470">16:10</ion-item>
        <ion-item id="santaRita-list-item471">16:30</ion-item>
        <ion-item id="santaRita-list-item472">16:50</ion-item>
        <ion-item id="santaRita-list-item473">17:10</ion-item>
        <ion-item id="santaRita-list-item474">17:30</ion-item>
        <ion-item id="santaRita-list-item475">17:50</ion-item>
        <ion-item id="santaRita-list-item476">18:10</ion-item>
        <ion-item id="santaRita-list-item477">18:30</ion-item>
        <ion-item id="santaRita-list-item478">18:50</ion-item>
        <ion-item id="santaRita-list-item479">19:05</ion-item>
        <ion-item id="santaRita-list-item480">19:25</ion-item>
        <ion-item id="santaRita-list-item481">19:55</ion-item>
        <ion-item id="santaRita-list-item482">20:15</ion-item>
        <ion-item id="santaRita-list-item491">20:45</ion-item>
        <ion-item id="santaRita-list-item492">21:10</ion-item>
        <ion-item id="santaRita-list-item493">21:35</ion-item>
        <ion-item id="santaRita-list-item494">22:00</ion-item>
        <ion-item id="santaRita-list-item495">22:25</ion-item>
        <ion-item id="santaRita-list-item496">22:50</ion-item>
        <ion-item id="santaRita-list-item498">23:15</ion-item>
        <ion-item id="santaRita-list-item499">23:40</ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>