<ion-view title="Santa Rita" id="page28">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menuTatuBus.santaRita3" id="santaRita4-button66" class="button button-light  button-block button-outline">Especiais</a>
    <div id="santaRita4-button-bar24" class="button-bar">
      <a ui-sref="menuTatuBus.santaRita" id="santaRita4-button67" class="button button-light  button-block button-outline">Seg - Sex</a>
      <button id="santaRita4-button68" class="button button-calm  button-block">Sábado</button>
      <a ui-sref="menuTatuBus.santaRita2" id="santaRita4-button69" class="button button-light  button-block button-outline">Domingo</a>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="santaRita4-list142">
      <ion-item class="item-divider" id="santaRita4-list-item-divider58"> Mercado para Santa Rita</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santaRita4-list143">
      <ion-item id="santaRita4-list-item500">5:40</ion-item>
      <ion-item id="santaRita4-list-item501">6:00</ion-item>
      <ion-item id="santaRita4-list-item503">6:20</ion-item>
      <ion-item id="santaRita4-list-item504">6:40</ion-item>
      <ion-item id="santaRita4-list-item505">7:00</ion-item>
      <ion-item id="santaRita4-list-item506">7:20</ion-item>
      <ion-item id="santaRita4-list-item507">7:40</ion-item>
      <ion-item id="santaRita4-list-item508">8:00</ion-item>
      <ion-item id="santaRita4-list-item509">8:20</ion-item>
      <ion-item id="santaRita4-list-item510">8:40</ion-item>
      <ion-item id="santaRita4-list-item511">9:00</ion-item>
      <ion-item id="santaRita4-list-item512">9:20</ion-item>
      <ion-item id="santaRita4-list-item513">9:40</ion-item>
      <ion-item id="santaRita4-list-item514">10:00</ion-item>
      <ion-item id="santaRita4-list-item515">10:20</ion-item>
      <ion-item id="santaRita4-list-item516">10:40</ion-item>
      <ion-item id="santaRita4-list-item517">11:00</ion-item>
      <ion-item id="santaRita4-list-item518">11:20</ion-item>
      <ion-item id="santaRita4-list-item519">11:40</ion-item>
      <ion-item id="santaRita4-list-item520">12:00</ion-item>
      <ion-item id="santaRita4-list-item521">12:20</ion-item>
      <ion-item id="santaRita4-list-item522">12:40</ion-item>
      <ion-item id="santaRita4-list-item523">13:00</ion-item>
      <ion-item id="santaRita4-list-item524">13:20</ion-item>
      <ion-item id="santaRita4-list-item525">13:40</ion-item>
      <ion-item id="santaRita4-list-item526">14:00</ion-item>
      <ion-item id="santaRita4-list-item527">14:20</ion-item>
      <ion-item id="santaRita4-list-item528">14:40</ion-item>
      <ion-item id="santaRita4-list-item529">15:00</ion-item>
      <ion-item id="santaRita4-list-item530">15:20</ion-item>
      <ion-item id="santaRita4-list-item531">15:40</ion-item>
      <ion-item id="santaRita4-list-item532">16:00</ion-item>
      <ion-item id="santaRita4-list-item533">16:20</ion-item>
      <ion-item id="santaRita4-list-item534">16:40</ion-item>
      <ion-item id="santaRita4-list-item535">17:00</ion-item>
      <ion-item id="santaRita4-list-item536">17:20</ion-item>
      <ion-item id="santaRita4-list-item537">17:40</ion-item>
      <ion-item id="santaRita4-list-item538">18:00</ion-item>
      <ion-item id="santaRita4-list-item540">18:40</ion-item>
      <ion-item id="santaRita4-list-item541">19:00</ion-item>
      <ion-item id="santaRita4-list-item542">19:35</ion-item>
      <ion-item id="santaRita4-list-item543">19:50</ion-item>
      <ion-item id="santaRita4-list-item544">20:25</ion-item>
      <ion-item id="santaRita4-list-item545">20:45</ion-item>
      <ion-item id="santaRita4-list-item546">21:15</ion-item>
      <ion-item id="santaRita4-list-item547">21:35</ion-item>
      <ion-item id="santaRita4-list-item548">22:05</ion-item>
      <ion-item id="santaRita4-list-item549">22:25</ion-item>
      <ion-item id="santaRita4-list-item551">23:15</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="santaRita4-list144">
      <ion-item class="item-divider" id="santaRita4-list-item-divider59"> Santa Rita para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santaRita4-list146">
      <ion-list id="santaRita4-list145">
        <ion-item id="santaRita4-list-item553">6:10</ion-item>
        <ion-item id="santaRita4-list-item554">6:30</ion-item>
        <ion-item id="santaRita4-list-item555">6:50</ion-item>
        <ion-item id="santaRita4-list-item556">7:10</ion-item>
        <ion-item id="santaRita4-list-item557">7:30</ion-item>
        <ion-item id="santaRita4-list-item558">7:50</ion-item>
        <ion-item id="santaRita4-list-item559">8:10</ion-item>
        <ion-item id="santaRita4-list-item560">8:30</ion-item>
        <ion-item id="santaRita4-list-item561">8:50</ion-item>
        <ion-item id="santaRita4-list-item562">9:10</ion-item>
        <ion-item id="santaRita4-list-item563">9:30</ion-item>
        <ion-item id="santaRita4-list-item564">9:50</ion-item>
        <ion-item id="santaRita4-list-item565">10:10</ion-item>
        <ion-item id="santaRita4-list-item566">10:30</ion-item>
        <ion-item id="santaRita4-list-item567">10:50</ion-item>
        <ion-item id="santaRita4-list-item568">11:10</ion-item>
        <ion-item id="santaRita4-list-item569">11:30</ion-item>
        <ion-item id="santaRita4-list-item570">11:50</ion-item>
        <ion-item id="santaRita4-list-item571">12:10</ion-item>
        <ion-item id="santaRita4-list-item572">12:30</ion-item>
        <ion-item id="santaRita4-list-item573">12:50</ion-item>
        <ion-item id="santaRita4-list-item574">13:10</ion-item>
        <ion-item id="santaRita4-list-item575">13:30</ion-item>
        <ion-item id="santaRita4-list-item576">13:50</ion-item>
        <ion-item id="santaRita4-list-item577">14:10</ion-item>
        <ion-item id="santaRita4-list-item578">14:30</ion-item>
        <ion-item id="santaRita4-list-item579">14:50</ion-item>
        <ion-item id="santaRita4-list-item580">15:10</ion-item>
        <ion-item id="santaRita4-list-item581">15:30</ion-item>
        <ion-item id="santaRita4-list-item582">15:50</ion-item>
        <ion-item id="santaRita4-list-item583">16:10</ion-item>
        <ion-item id="santaRita4-list-item584">16:30</ion-item>
        <ion-item id="santaRita4-list-item585">16:50</ion-item>
        <ion-item id="santaRita4-list-item586">17:10</ion-item>
        <ion-item id="santaRita4-list-item587">17:30</ion-item>
        <ion-item id="santaRita4-list-item588">17:50</ion-item>
        <ion-item id="santaRita4-list-item589">18:10</ion-item>
        <ion-item id="santaRita4-list-item590">18:30</ion-item>
        <ion-item id="santaRita4-list-item592">19:10</ion-item>
        <ion-item id="santaRita4-list-item593">19:30</ion-item>
        <ion-item id="santaRita4-list-item594">20:00</ion-item>
        <ion-item id="santaRita4-list-item595">20:15</ion-item>
        <ion-item id="santaRita4-list-item596">20:50</ion-item>
        <ion-item id="santaRita4-list-item597">21:10</ion-item>
        <ion-item id="santaRita4-list-item598">21:40</ion-item>
        <ion-item id="santaRita4-list-item599">22:00</ion-item>
        <ion-item id="santaRita4-list-item600">22:30</ion-item>
        <ion-item id="santaRita4-list-item601">22:50</ion-item>
        <ion-item id="santaRita4-list-item604">23:40</ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>