<ion-view title="Santista/Jd. Lírio/Americana" id="page31">
  <ion-content padding="true" class="has-header">
    <div id="santistaJdLRioAmericana-button-bar27" class="button-bar">
      <button id="santistaJdLRioAmericana-button78" class="button button-calm  button-block">Seg - Sex</button>
      <a ui-sref="menuTatuBus.santistaJdLRioAmericana2" id="santistaJdLRioAmericana-button79" class="button button-light  button-block button-outline">Sábado</a>
      <a ui-sref="menuTatuBus.colinaDasEstrelas3" id="santistaJdLRioAmericana-button80" class="button button-light  button-block button-outline">Domingo</a>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="santistaJdLRioAmericana-list159">
      <ion-item class="item-divider" id="santistaJdLRioAmericana-list-item-divider64"> Mercado para a Santista</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santistaJdLRioAmericana-list160">
      <ion-item id="santistaJdLRioAmericana-list-item797">6:00
        <span class="item-note">Entrada especial da Santista</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="santistaJdLRioAmericana-list161">
      <ion-item class="item-divider" id="santistaJdLRioAmericana-list-item-divider65"> Santista para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santistaJdLRioAmericana-list162">
      <ion-item id="santistaJdLRioAmericana-list-item798">6:15
        <span class="item-note">Entrada especial da Santista</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="santistaJdLRioAmericana-list163">
      <ion-item class="item-divider" id="santistaJdLRioAmericana-list-item-divider66"> Mercado para Shigueno</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santistaJdLRioAmericana-list164">
      <ion-item id="santistaJdLRioAmericana-list-item802">8:30
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item803">10:10
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item804">12:50
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item805">14:05
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item806">16:50
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item807">19:30
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="santistaJdLRioAmericana-list166">
      <ion-item class="item-divider" id="santistaJdLRioAmericana-list-item-divider67"> Shigueno para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santistaJdLRioAmericana-list167">
      <ion-item id="santistaJdLRioAmericana-list-item812">8:50
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item813">10:30
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item814">13:10
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item815">14:25
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item816">17:10
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item817">19:55
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="santistaJdLRioAmericana-list168">
      <ion-item class="item-divider" id="santistaJdLRioAmericana-list-item-divider68"> Mercado para Vale dos Lagos</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santistaJdLRioAmericana-list169">
      <ion-item id="santistaJdLRioAmericana-list-item821">5:25</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item822">6:15</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item823">6:55</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item824">7:25</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item825">7:50</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item826">9:05</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item827">9:30</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item828">10:45</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item829">11:10</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item830">11:50</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item831">12:25</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item832">13:30</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item833">14:30</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item834">15:10</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item835">15:45</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item836">16:10</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item837">17:25</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item838">17:50</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item839">18:30</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item840">19:05</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item841">19:55</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item842">21:35
        <span class="item-note">Aguarda na Santista até 22:15</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="santistaJdLRioAmericana-list171">
      <ion-item class="item-divider" id="santistaJdLRioAmericana-list-item-divider69"> Vale dos Lagos para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santistaJdLRioAmericana-list170">
      <ion-item id="santistaJdLRioAmericana-list-item843">5:45</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item844">6:30</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item845">7:15</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item846">7:45</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item847">8:10</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item848">9:25</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item849">9:50</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item850">11:05</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item851">11:30</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item852">12:10</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item853">12:45</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item854">13:50</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item855">14:50</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item856">15:30</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item857">16:05</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item858">16:30</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item859">17:45</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item860">18:10</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item861">18:50</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item862">19:30</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item863">20:20</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item864">22:00
        <span class="item-note">Aguarda na Santista até 22:15</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="santistaJdLRioAmericana-list172">
      <ion-item class="item-divider" id="santistaJdLRioAmericana-list-item-divider70"> Sai Santista - Mercado p/ Shigueno</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santistaJdLRioAmericana-list173">
      <ion-item id="santistaJdLRioAmericana-list-item865">22:00</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="santistaJdLRioAmericana-list174">
      <ion-item class="item-divider" id="santistaJdLRioAmericana-list-item-divider71"> Sai Santista - Shigueno p/ Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santistaJdLRioAmericana-list175">
      <ion-item id="santistaJdLRioAmericana-list-item866">22:15</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="santistaJdLRioAmericana-list176">
      <ion-item class="item-divider" id="santistaJdLRioAmericana-list-item-divider72"> Jardim Lírio para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santistaJdLRioAmericana-list177">
      <ion-item id="santistaJdLRioAmericana-list-item870">5:55
        <span class="item-note">Linha inicia no Jd. Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item871">6:30
        <span class="item-note">Linha inicia no Jd. Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item873">7:05</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item874">7:20
        <span class="item-note">Atende Lírio/Americ. e Gralha Azul</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item875">8:00</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item876">8:45</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item877">9:00</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item878">9:40
        <span class="item-note">Atende Americana. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item879">10:15</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item880">10:40</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item881">11:20
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item882">11:55</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item883">12:20</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item884">13:00</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item885">13:35
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item886">14:00</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item887">14:40</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item888">15:15</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item889">15:40
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item890">16:20</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item891">16:55</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item892">17:20
        <span class="item-note">Passa na Gralha Azul</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item893">18:00
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item894">18:35</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item895">19:00</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item896">19:40
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item897">20:45</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item898">21:10
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item899">22:50</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="santistaJdLRioAmericana-list179">
      <ion-item class="item-divider" id="santistaJdLRioAmericana-list-item-divider73"> Mercado para Jardim Lírio</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santistaJdLRioAmericana-list178">
      <ion-item id="santistaJdLRioAmericana-list-item900">6:35</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item901">6:50
        <span class="item-note">Atende Lírio/Americ. e Gralha Azul</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item902">7:30</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item903">8:05</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item904">8:30</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item905">9:10
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item906">9:45</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item907">10:10</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item908">10:50</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item909">11:25</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item910">11:50</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item911">12:30</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item912">13:05
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item913">13:30</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item914">14:10</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item915">14:45</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item916">15:10
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item917">15:50</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item918">16:25</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item919">16:50
        <span class="item-note">Passa na Gralha Azul</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item920">17:30
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item921">18:05</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item922">18:30</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item923">19:10
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item924">20:20</ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item925">20:45
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana-list-item926">22:25</ion-item>
    </ion-list>
  </ion-content>
</ion-view>