<ion-view title="Santa Rita" id="page30">
  <ion-content padding="true" class="has-header">
    <button id="santaRita3-button74" class="button button-calm  button-block">Especiais</button>
    <div id="santaRita3-button-bar26" class="button-bar">
      <a ui-sref="menuTatuBus.santaRita" id="santaRita3-button75" class="button button-light  button-block button-outline">Seg - Sex</a>
      <a ui-sref="menuTatuBus.santaRita4" id="santaRita3-button76" class="button button-light  button-block button-outline">Sábado</a>
      <a ui-sref="menuTatuBus.santaRita2" id="santaRita3-button77" class="button button-light  button-block button-outline">Domingo</a>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div class="item item-body" id="santaRita3-list-item-container10">
      <div id="santaRita3-markdown15" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Linhas marcadas como Especiais
          <strong>correm apenas em dias úteis</strong>.</p>
      </div>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="santaRita3-list152">
      <ion-item class="item-divider" id="santaRita3-list-item-divider62"> Santa Rita até Vale dos Lagos</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santaRita3-list157">
      <ion-item id="santaRita3-list-item795">5:15</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="santaRita3-list154">
      <ion-item class="item-divider" id="santaRita3-list-item-divider63"> Santa Rita para Lopesco</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santaRita3-list158">
      <ion-item id="santaRita3-list-item796">5:50</ion-item>
    </ion-list>
  </ion-content>
</ion-view>