<ion-view title="Santista/Jd. Lírio/Americana" id="page33">
  <ion-content padding="true" class="has-header">
    <div id="santistaJdLRioAmericana3-button-bar29" class="button-bar">
      <a ui-sref="menuTatuBus.santistaJdLRioAmericana" id="santistaJdLRioAmericana3-button84" class="button button-light  button-block button-outline">Seg - Sex</a>
      <a ui-sref="menuTatuBus.santistaJdLRioAmericana2" id="santistaJdLRioAmericana3-button85" class="button button-light  button-block button-outline">Sábado</a>
      <button id="santistaJdLRioAmericana3-button86" class="button button-calm  button-block">Domingo</button>
    </div>
    <ion-list id="santistaJdLRioAmericana3-list210">
      <ion-item class="item-divider" id="santistaJdLRioAmericana3-list-item-divider88"> Mercado para Shigueno</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santistaJdLRioAmericana3-list211">
      <ion-item id="santistaJdLRioAmericana3-list-item1049">8:25
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1050">10:05
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1051">12:50
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1052">14:05
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1053">16:50
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1054">19:30
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="santistaJdLRioAmericana3-list212">
      <ion-item class="item-divider" id="santistaJdLRioAmericana3-list-item-divider89"> Shigueno para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santistaJdLRioAmericana3-list213">
      <ion-item id="santistaJdLRioAmericana3-list-item1055">8:45
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1056">10:25
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1057">13:10
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1058">14:25
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1059">17:10
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1060">19:55
        <span class="item-note">Atende a Shigueno e Jd. São João</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="santistaJdLRioAmericana3-list214">
      <ion-item class="item-divider" id="santistaJdLRioAmericana3-list-item-divider90"> Mercado para Vale dos Lagos</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santistaJdLRioAmericana3-list215">
      <ion-item id="santistaJdLRioAmericana3-list-item1062">6:45</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1063">7:50</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1064">9:30</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1065">11:10</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1066">11:45</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1067">13:25</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1068">14:30</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1069">15:05</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1070">16:10</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1071">17:50</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1072">18:25</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1073">20:05</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1074">21:45
        <span class="item-note">Aguarda na Santista até 22:15</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="santistaJdLRioAmericana3-list216">
      <ion-item class="item-divider" id="santistaJdLRioAmericana3-list-item-divider91"> Vale dos Lagos para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santistaJdLRioAmericana3-list217">
      <ion-item id="santistaJdLRioAmericana3-list-item1085">7:05</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1086">8:10</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1087">9:50</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1088">11:30</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1089">12:05</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1090">13:45</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1091">14:50</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1092">15:25</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1093">16:30</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1094">18:10</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1095">19:50</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1096">20:25</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1097">22:05
        <span class="item-note">Aguarda na santista até 22:15</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="santistaJdLRioAmericana3-list222">
      <ion-item class="item-divider" id="santistaJdLRioAmericana3-list-item-divider94"> Jardim Lírio para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santistaJdLRioAmericana3-list223">
      <ion-item id="santistaJdLRioAmericana3-list-item1108">6:30
        <span class="item-note">Linha inicia no Jd. Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1109">7:20
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1110">7:55</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1111">9:00</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1112">9:35
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1113">10:40
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1114">11:15</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1115">12:20</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1116">12:55</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1117">14:00
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1118">14:35</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1119">15:40</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1120">16:15
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1121">17:20</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1122">17:55</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1125">19:00</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1126">19:35
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1127">20:35</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1128">21:15</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1129">23:00</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="santistaJdLRioAmericana3-list224">
      <ion-item class="item-divider" id="santistaJdLRioAmericana3-list-item-divider95"> Mercado para Jardim Lírio</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santistaJdLRioAmericana3-list225">
      <ion-item id="santistaJdLRioAmericana3-list-item1137">6:50
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1138">7:25</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1140">8:30</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1141">9:05
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1143">10:10
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1144">10:45</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1146">11:50</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1147">12:25</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1148">13:30
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1150">14:05</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1151">15:10</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1152">15:45
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1155">16:50</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1156">17:25
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1158">18:30</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1159">19:05
        <span class="item-note">Atende Americ. Não entra no Lírio</span>
      </ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1160">20:10</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1161">20:45</ion-item>
      <ion-item id="santistaJdLRioAmericana3-list-item1162">22:30</ion-item>
    </ion-list>
  </ion-content>
</ion-view>