<ion-view title="Santa Rita" id="page29">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menuTatuBus.santaRita3" id="santaRita2-button70" class="button button-light  button-block button-outline">Especiais</a>
    <div id="santaRita2-button-bar25" class="button-bar">
      <a ui-sref="menuTatuBus.santaRita" id="santaRita2-button71" class="button button-light  button-block button-outline">Seg - Sex</a>
      <a ui-sref="menuTatuBus.santaRita4" id="santaRita2-button72" class="button button-light  button-block button-outline">Sábado</a>
      <button id="santaRita2-button73" class="button button-calm  button-block">Domingo</button>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="santaRita2-list147">
      <ion-item class="item-divider" id="santaRita2-list-item-divider60"> Mercado para Santa Rita</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santaRita2-list148">
      <ion-item id="santaRita2-list-item605">5:55</ion-item>
      <ion-item id="santaRita2-list-item608">6:25</ion-item>
      <ion-item id="santaRita2-list-item609">6:55</ion-item>
      <ion-item id="santaRita2-list-item610">7:25</ion-item>
      <ion-item id="santaRita2-list-item612">7:40</ion-item>
      <ion-item id="santaRita2-list-item613">7:55</ion-item>
      <ion-item id="santaRita2-list-item614">8:25</ion-item>
      <ion-item id="santaRita2-list-item615">8:40</ion-item>
      <ion-item id="santaRita2-list-item616">8:55</ion-item>
      <ion-item id="santaRita2-list-item617">9:25</ion-item>
      <ion-item id="santaRita2-list-item618">9:40</ion-item>
      <ion-item id="santaRita2-list-item619">9:55</ion-item>
      <ion-item id="santaRita2-list-item620">10:25</ion-item>
      <ion-item id="santaRita2-list-item621">10:40</ion-item>
      <ion-item id="santaRita2-list-item622">10:55</ion-item>
      <ion-item id="santaRita2-list-item623">11:25</ion-item>
      <ion-item id="santaRita2-list-item624">11:40</ion-item>
      <ion-item id="santaRita2-list-item625">11:55</ion-item>
      <ion-item id="santaRita2-list-item626">12:25</ion-item>
      <ion-item id="santaRita2-list-item627">12:55</ion-item>
      <ion-item id="santaRita2-list-item628">13:25</ion-item>
      <ion-item id="santaRita2-list-item629">13:50</ion-item>
      <ion-item id="santaRita2-list-item630">14:15</ion-item>
      <ion-item id="santaRita2-list-item631">14:40</ion-item>
      <ion-item id="santaRita2-list-item632">15:05</ion-item>
      <ion-item id="santaRita2-list-item633">15:30</ion-item>
      <ion-item id="santaRita2-list-item634">15:55</ion-item>
      <ion-item id="santaRita2-list-item635">16:20</ion-item>
      <ion-item id="santaRita2-list-item636">16:45</ion-item>
      <ion-item id="santaRita2-list-item637">17:10</ion-item>
      <ion-item id="santaRita2-list-item638">17:35</ion-item>
      <ion-item id="santaRita2-list-item639">18:00</ion-item>
      <ion-item id="santaRita2-list-item640">18:25</ion-item>
      <ion-item id="santaRita2-list-item641">18:50</ion-item>
      <ion-item id="santaRita2-list-item642">19:15</ion-item>
      <ion-item id="santaRita2-list-item643">19:40</ion-item>
      <ion-item id="santaRita2-list-item644">20:05</ion-item>
      <ion-item id="santaRita2-list-item645">20:30</ion-item>
      <ion-item id="santaRita2-list-item646">20:55</ion-item>
      <ion-item id="santaRita2-list-item647">21:20</ion-item>
      <ion-item id="santaRita2-list-item648">21:45</ion-item>
      <ion-item id="santaRita2-list-item649">22:30</ion-item>
      <ion-item id="santaRita2-list-item650">23:10</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="santaRita2-list149">
      <ion-item class="item-divider" id="santaRita2-list-item-divider61"> Santa Rita para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="santaRita2-list151">
      <ion-list id="santaRita2-list150">
        <ion-item id="santaRita2-list-item658">6:20</ion-item>
        <ion-item id="santaRita2-list-item659">6:55</ion-item>
        <ion-item id="santaRita2-list-item660">7:25</ion-item>
        <ion-item id="santaRita2-list-item661">7:55</ion-item>
        <ion-item id="santaRita2-list-item662">8:10</ion-item>
        <ion-item id="santaRita2-list-item663">8:25</ion-item>
        <ion-item id="santaRita2-list-item664">8:55</ion-item>
        <ion-item id="santaRita2-list-item665">9:10</ion-item>
        <ion-item id="santaRita2-list-item666">9:25</ion-item>
        <ion-item id="santaRita2-list-item667">9:55</ion-item>
        <ion-item id="santaRita2-list-item668">10:10</ion-item>
        <ion-item id="santaRita2-list-item669">10:25</ion-item>
        <ion-item id="santaRita2-list-item670">10:55</ion-item>
        <ion-item id="santaRita2-list-item671">11:10</ion-item>
        <ion-item id="santaRita2-list-item672">11:25</ion-item>
        <ion-item id="santaRita2-list-item673">11:55</ion-item>
        <ion-item id="santaRita2-list-item674">12:10</ion-item>
        <ion-item id="santaRita2-list-item675">12:25</ion-item>
        <ion-item id="santaRita2-list-item676">12:55</ion-item>
        <ion-item id="santaRita2-list-item677">13:25</ion-item>
        <ion-item id="santaRita2-list-item678">13:50</ion-item>
        <ion-item id="santaRita2-list-item679">14:15</ion-item>
        <ion-item id="santaRita2-list-item680">14:40</ion-item>
        <ion-item id="santaRita2-list-item681">15:05</ion-item>
        <ion-item id="santaRita2-list-item682">15:30</ion-item>
        <ion-item id="santaRita2-list-item683">15:55</ion-item>
        <ion-item id="santaRita2-list-item684">16:20</ion-item>
        <ion-item id="santaRita2-list-item685">16:45</ion-item>
        <ion-item id="santaRita2-list-item686">17:10</ion-item>
        <ion-item id="santaRita2-list-item687">17:35</ion-item>
        <ion-item id="santaRita2-list-item688">18:00</ion-item>
        <ion-item id="santaRita2-list-item689">18:25</ion-item>
        <ion-item id="santaRita2-list-item690">18:50</ion-item>
        <ion-item id="santaRita2-list-item691">19:15</ion-item>
        <ion-item id="santaRita2-list-item692">19:40</ion-item>
        <ion-item id="santaRita2-list-item693">20:05</ion-item>
        <ion-item id="santaRita2-list-item694">20:30</ion-item>
        <ion-item id="santaRita2-list-item695">20:55</ion-item>
        <ion-item id="santaRita2-list-item696">21:20</ion-item>
        <ion-item id="santaRita2-list-item697">21:45</ion-item>
        <ion-item id="santaRita2-list-item698">22:10</ion-item>
        <ion-item id="santaRita2-list-item699">22:50</ion-item>
        <ion-item id="santaRita2-list-item700">23:30</ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>