<ion-view title="Sobre" id="page46">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="sobre-card21">
      <ion-item class="item-icon-left" id="sobre-list-item1958">
        <i class="icon ion-android-bus"></i>Tatuí Bus</ion-item>
      <div class="item item-body" id="sobre-list-item-container12">
        <div id="sobre-markdown16" style="text-align:justify;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Este aplicativo foi desenvolvido por Leonardo Moraes de Oliveira utilizando o Ionic Framework.</p>

          <p style="color:#000000;">O app não possui nenhum vínculo comercial com a Rosa Turismo e todas as informações aqui contidas foram retiradas do site da empresa.</p>

          <p style="color:#000000;">
            <strong>Ajude a manter o aplicativo em desenvolvimento fazendo uma doação :)</strong>
          </p>
        </div>
      </div>
    </div>
    <a href-inappbrowser="https://pag.ae/bghv983" id="sobre-button107" class="button button-balanced  button-block icon-left ion-heart">Fazer uma doação com PagSeguro</a>
    <div id="sobre-button-bar42" class="button-bar">
      <a href="mailto:leoliveira_@outlook.com" id="sobre-button129" class="button button-calm  button-block icon ion-android-mail"></a>
      <a href-inappbrowser="https://www.linkedin.com/in/leonardomoraeso" id="sobre-button130" class="button button-calm  button-block icon ion-social-linkedin"></a>
      <a href-inappbrowser="https://ionicframework.com" id="sobre-button131" class="button button-calm  button-block icon ion-ionic"></a>
    </div>
  </ion-content>
</ion-view>