<ion-view title="São Cristovão/Astória" id="page35">
  <ion-content padding="true" class="has-header">
    <div id="sOCristovOAstRia2-button-bar31" class="button-bar">
      <a ui-sref="menuTatuBus.sOCristovOAstRia" id="sOCristovOAstRia2-button64" class="button button-light  button-block button-outline">Seg - Sex</a>
      <button id="sOCristovOAstRia2-button90" class="button button-calm  button-block">Sábado</button>
      <a ui-sref="menuTatuBus.sOCristovOAstRia3" id="sOCristovOAstRia2-button91" class="button button-light  button-block button-outline">Domingo</a>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="sOCristovOAstRia2-list219">
      <ion-item class="item-divider" id="sOCristovOAstRia2-list-item-divider104"> Jardim Palmira para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="sOCristovOAstRia2-list220">
      <ion-item id="sOCristovOAstRia2-list-item1188">6:15</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="sOCristovOAstRia2-list180">
      <ion-item class="item-divider" id="sOCristovOAstRia2-list-item-divider100"> Mercado p/ S. Cristovão (via Guardian)</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="sOCristovOAstRia2-list181">
      <ion-item id="sOCristovOAstRia2-list-item1101">7:30</ion-item>
      <ion-item id="sOCristovOAstRia2-list-item1102">9:30</ion-item>
      <ion-item id="sOCristovOAstRia2-list-item1104">11:30</ion-item>
      <ion-item id="sOCristovOAstRia2-list-item1105">14:30</ion-item>
      <ion-item id="sOCristovOAstRia2-list-item1106">16:50</ion-item>
      <ion-item id="sOCristovOAstRia2-list-item1107">18:30</ion-item>
      <ion-item id="sOCristovOAstRia2-list-item1123">21:00</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="sOCristovOAstRia2-list182">
      <ion-item class="item-divider" id="sOCristovOAstRia2-list-item-divider101"> S. Cristovão (Guardian) p/ Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="sOCristovOAstRia2-list200">
      <ion-list id="sOCristovOAstRia2-list183">
        <ion-item id="sOCristovOAstRia2-list-item1130">8:05</ion-item>
        <ion-item id="sOCristovOAstRia2-list-item1131">10:00</ion-item>
        <ion-item id="sOCristovOAstRia2-list-item1132">12:00</ion-item>
        <ion-item id="sOCristovOAstRia2-list-item1133">15:05</ion-item>
        <ion-item id="sOCristovOAstRia2-list-item1134">17:00</ion-item>
        <ion-item id="sOCristovOAstRia2-list-item1135">19:00</ion-item>
        <ion-item id="sOCristovOAstRia2-list-item1136">21:30</ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="sOCristovOAstRia2-list201">
      <ion-item class="item-divider" id="sOCristovOAstRia2-list-item-divider102"> Mercado p/ S. Cristovão até Astória</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="sOCristovOAstRia2-list207">
      <ion-list id="sOCristovOAstRia2-list206">
        <ion-item id="sOCristovOAstRia2-list-item1139">5:40</ion-item>
        <ion-item id="sOCristovOAstRia2-list-item1142">6:30
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia2-list-item1145">8:30
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia2-list-item1149">10:30
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia2-list-item1153">12:30
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia2-list-item1154">13:30
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia2-list-item1157">15:30
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia2-list-item1179">17:30
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia2-list-item1189">19:30
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia2-list-item1190">22:00
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="sOCristovOAstRia2-list208">
      <ion-item class="item-divider" id="sOCristovOAstRia2-list-item-divider103"> S. Cristovão - Astória para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="sOCristovOAstRia2-list218">
      <ion-list id="sOCristovOAstRia2-list209">
        <ion-item id="sOCristovOAstRia2-list-item1180">6:00</ion-item>
        <ion-item id="sOCristovOAstRia2-list-item1181">7:00
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia2-list-item1182">9:00
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia2-list-item1183">11:00
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia2-list-item1184">13:00
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia2-list-item1185">14:00
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia2-list-item1186">16:00
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia2-list-item1187">18:00
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia2-list-item1191">20:00
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia2-list-item1192">22:30
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>