<ion-view title="São Cristovão/Astória" id="page36">
  <ion-content padding="true" class="has-header">
    <div id="sOCristovOAstRia3-button-bar32" class="button-bar">
      <a ui-sref="menuTatuBus.sOCristovOAstRia" id="sOCristovOAstRia3-button92" class="button button-light  button-block button-outline">Seg - Sex</a>
      <a ui-sref="menuTatuBus.sOCristovOAstRia2" id="sOCristovOAstRia3-button93" class="button button-light  button-block button-outline">Sábado</a>
      <button id="sOCristovOAstRia3-button94" class="button button-calm  button-block">Domingo</button>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="sOCristovOAstRia3-list232">
      <ion-item class="item-divider" id="sOCristovOAstRia3-list-item-divider106"> Mercado p/ S. Cristovão (via Guardian)</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="sOCristovOAstRia3-list233">
      <ion-item id="sOCristovOAstRia3-list-item1194">7:10</ion-item>
      <ion-item id="sOCristovOAstRia3-list-item1195">9:00</ion-item>
      <ion-item id="sOCristovOAstRia3-list-item1196">11:00</ion-item>
      <ion-item id="sOCristovOAstRia3-list-item1197">13:00</ion-item>
      <ion-item id="sOCristovOAstRia3-list-item1198">14:00</ion-item>
      <ion-item id="sOCristovOAstRia3-list-item1199">16:00</ion-item>
      <ion-item id="sOCristovOAstRia3-list-item1200">17:00</ion-item>
      <ion-item id="sOCristovOAstRia3-list-item1228">18:00</ion-item>
      <ion-item id="sOCristovOAstRia3-list-item1229">20:00</ion-item>
      <ion-item id="sOCristovOAstRia3-list-item1230">21:00</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="sOCristovOAstRia3-list234">
      <ion-item class="item-divider" id="sOCristovOAstRia3-list-item-divider107"> S. Cristovão (Guardian) p/ Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="sOCristovOAstRia3-list236">
      <ion-list id="sOCristovOAstRia3-list235">
        <ion-item id="sOCristovOAstRia3-list-item1201">7:35</ion-item>
        <ion-item id="sOCristovOAstRia3-list-item1202">9:30</ion-item>
        <ion-item id="sOCristovOAstRia3-list-item1203">11:30</ion-item>
        <ion-item id="sOCristovOAstRia3-list-item1204">13:30</ion-item>
        <ion-item id="sOCristovOAstRia3-list-item1205">14:30</ion-item>
        <ion-item id="sOCristovOAstRia3-list-item1206">16:30</ion-item>
        <ion-item id="sOCristovOAstRia3-list-item1207">17:30</ion-item>
        <ion-item id="sOCristovOAstRia3-list-item1231">18:30</ion-item>
        <ion-item id="sOCristovOAstRia3-list-item1232">20:30</ion-item>
        <ion-item id="sOCristovOAstRia3-list-item1233">21:30</ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="sOCristovOAstRia3-list237">
      <ion-item class="item-divider" id="sOCristovOAstRia3-list-item-divider108"> Mercado p/ S. Cristovão até Astória</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="sOCristovOAstRia3-list239">
      <ion-list id="sOCristovOAstRia3-list238">
        <ion-item id="sOCristovOAstRia3-list-item1210">8:00
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia3-list-item1211">10:00
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia3-list-item1212">12:00
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia3-list-item1213">15:00
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia3-list-item1214">19:00
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia3-list-item1217">22:00
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="sOCristovOAstRia3-list240">
      <ion-item class="item-divider" id="sOCristovOAstRia3-list-item-divider109"> S. Cristovão - Astória para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="sOCristovOAstRia3-list242">
      <ion-list id="sOCristovOAstRia3-list241">
        <ion-item id="sOCristovOAstRia3-list-item1221">8:30
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia3-list-item1222">10:30
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia3-list-item1223">12:30
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia3-list-item1224">15:30
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia3-list-item1225">19:30
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia3-list-item1227">22:30
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>