<ion-view title="São Cristovão/Astória" id="page34">
  <ion-content padding="true" class="has-header">
    <div id="sOCristovOAstRia-button-bar30" class="button-bar">
      <button id="sOCristovOAstRia-button87" class="button button-calm  button-block">Seg - Sex</button>
      <a ui-sref="menuTatuBus.sOCristovOAstRia2" id="sOCristovOAstRia-button88" class="button button-light  button-block button-outline">Sábado</a>
      <a ui-sref="menuTatuBus.sOCristovOAstRia3" id="sOCristovOAstRia-button89" class="button button-light  button-block button-outline">Domingo</a>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="sOCristovOAstRia-list226">
      <ion-item class="item-divider" id="sOCristovOAstRia-list-item-divider96"> Mercado p/ S. Cristovão (via Guardian)</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="sOCristovOAstRia-list227">
      <ion-item id="sOCristovOAstRia-list-item1163">6:30</ion-item>
      <ion-item id="sOCristovOAstRia-list-item1164">7:30</ion-item>
      <ion-item id="sOCristovOAstRia-list-item1165">9:50</ion-item>
      <ion-item id="sOCristovOAstRia-list-item1166">12:10</ion-item>
      <ion-item id="sOCristovOAstRia-list-item1167">14:30</ion-item>
      <ion-item id="sOCristovOAstRia-list-item1168">16:50</ion-item>
      <ion-item id="sOCristovOAstRia-list-item1169">19:10</ion-item>
      <ion-item id="sOCristovOAstRia-list-item1170">21:10</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="sOCristovOAstRia-list228">
      <ion-item class="item-divider" id="sOCristovOAstRia-list-item-divider97"> S. Cristovão (Guardian) p/ Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="sOCristovOAstRia-list230">
      <ion-list id="sOCristovOAstRia-list229">
        <ion-item id="sOCristovOAstRia-list-item1171">7:00</ion-item>
        <ion-item id="sOCristovOAstRia-list-item1172">8:05</ion-item>
        <ion-item id="sOCristovOAstRia-list-item1173">10:25</ion-item>
        <ion-item id="sOCristovOAstRia-list-item1174">12:45</ion-item>
        <ion-item id="sOCristovOAstRia-list-item1175">15:05</ion-item>
        <ion-item id="sOCristovOAstRia-list-item1176">17:25</ion-item>
        <ion-item id="sOCristovOAstRia-list-item1177">19:40</ion-item>
        <ion-item id="sOCristovOAstRia-list-item1178">21:40</ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="sOCristovOAstRia-list153">
      <ion-item class="item-divider" id="sOCristovOAstRia-list-item-divider98"> Mercado p/ S. Cristovão até Astória</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="sOCristovOAstRia-list139">
      <ion-list id="sOCristovOAstRia-list138">
        <ion-item id="sOCristovOAstRia-list-item1047">5:40</ion-item>
        <ion-item id="sOCristovOAstRia-list-item1048">8:40
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia-list-item1061">11:00
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia-list-item1075">13:20
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia-list-item1076">15:40
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia-list-item1077">18:10
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia-list-item1078">20:10
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia-list-item1079">22:10
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="sOCristovOAstRia-list165">
      <ion-item class="item-divider" id="sOCristovOAstRia-list-item-divider99"> S. Cristovão - Astória para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="sOCristovOAstRia-list156">
      <ion-list id="sOCristovOAstRia-list155">
        <ion-item id="sOCristovOAstRia-list-item1080">6:00</ion-item>
        <ion-item id="sOCristovOAstRia-list-item1081">9:15
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia-list-item1082">11:35
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia-list-item1083">13:55
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia-list-item1084">16:15
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia-list-item1098">18:40
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia-list-item1099">20:40
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
        <ion-item id="sOCristovOAstRia-list-item1100">22:40
          <span class="item-note">Não passa pela rodoviária</span>
        </ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>