<ion-view title="Tatuí Bus" hide-back-button="true" id="page1">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-bus"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="item item-body" id="tatuBus-list-item-container4">
      <div id="tatuBus-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Todas as linhas abaixo possuem tarifa padrão de
          <strong>R$ 3,00</strong>
        </p>
      </div>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="tatuBus-list2">
      <ion-item id="tatuBus-list-item8" ui-sref="menuTatuBus.colinaDasEstrelas" class="botColina">Colina das Estrelas</ion-item>
      <ion-item id="tatuBus-list-item13" ui-sref="menuTatuBus.enxovia" class="botEnxovia">Enxovia</ion-item>
      <ion-item id="tatuBus-list-item14" ui-sref="menuTatuBus.gralhaAzul" class="botGralhaAzul">Gralha Azul</ion-item>
      <ion-item id="tatuBus-list-item15" ui-sref="menuTatuBus.guarap" class="botGuarapo">Guarapó</ion-item>
      <ion-item id="tatuBus-list-item16" ui-sref="menuTatuBus.inocoop" class="botInocoop">Inocoop</ion-item>
      <ion-item id="tatuBus-list-item17" ui-sref="menuTatuBus.jardimGramado">Jardim Gramado</ion-item>
      <ion-item id="tatuBus-list-item18" ui-sref="menuTatuBus.lopesco">Lopesco</ion-item>
      <ion-item id="tatuBus-list-item19" ui-sref="menuTatuBus.mirandas">Mirandas</ion-item>
      <ion-item id="tatuBus-list-item20" ui-sref="menuTatuBus.palanque">Palanque</ion-item>
      <ion-item id="tatuBus-list-item21" ui-sref="menuTatuBus.santaRita">Santa Rita</ion-item>
      <ion-item id="tatuBus-list-item22" ui-sref="menuTatuBus.santistaJdLRioAmericana">Santista/Jd. Lírio/Americana</ion-item>
      <ion-item id="tatuBus-list-item11" ui-sref="menuTatuBus.sOCristovOAstRia">São Cristóvão/Astória</ion-item>
      <ion-item id="tatuBus-list-item12" ui-sref="menuTatuBus.sanRaphaelColinaVerde">San Raphael/Colina Verde</ion-item>
      <ion-item id="tatuBus-list-item9" ui-sref="menuTatuBus.vilaAngLica">Vila Angélica</ion-item>
      <ion-item id="tatuBus-list-item10" ui-sref="menuTatuBus.vilaEsperanAJdWanderley">Vila Esperança/Jd. Wanderlei</ion-item>
    </ion-list>
    <div style="margin-right:-20px;">
      <a ui-sref="menuTatuBus.sobre" id="tatuBus-button40" style="left:-10px;font-weight:500;" class="button button-calm  button-full botSobre">SOBRE</a>
    </div>
  </ion-content>
</ion-view>