<ion-view title="Vila Esperança/Jd. Wanderley" id="page43">
  <ion-content padding="true" class="has-header">
    <div id="vilaEsperanAJdWanderley-button-bar39" class="button-bar">
      <button id="vilaEsperanAJdWanderley-button117" class="button button-calm  button-block">Seg - Sex</button>
      <a ui-sref="menuTatuBus.vilaEsperanAJdWanderley2" id="vilaEsperanAJdWanderley-button118" class="button button-light  button-block button-outline">Sábado</a>
      <a ui-sref="menuTatuBus.vilaEsperanAJdWanderley3" id="vilaEsperanAJdWanderley-button119" class="button button-light  button-block button-outline">Domingo</a>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="vilaEsperanAJdWanderley-list280">
      <ion-item class="item-divider" id="vilaEsperanAJdWanderley-list-item-divider128"> Mercado para Vila Esperança</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="vilaEsperanAJdWanderley-list281">
      <ion-item id="vilaEsperanAJdWanderley-list-item1710">6:10
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1711">6:40
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1712">7:10
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1713">7:40
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1714">8:10
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1715">8:40
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1716">9:10
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1717">9:40
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1718">10:10
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1719">10:40
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1720">11:10
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1721">11:40
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1722">12:10
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1723">12:40
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1724">13:10
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1725">13:40
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1726">14:10
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1727">14:40
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1728">15:10
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1729">15:40
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1730">16:10
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1731">16:40
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1732">17:10
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1733">17:40
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1734">18:10
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1735">18:40
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1736">19:10
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1737">19:40
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1738">20:10
        <span class="item-note">Não passa pelo Fórum</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1739">21:00
        <span class="item-note">Não Passa pelo Fórum</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1740">22:00
        <span class="item-note">Não Passa pelo Fórum</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1741">23:00
        <span class="item-note">Passa pela Zilah de Aquino</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="vilaEsperanAJdWanderley-list285">
      <ion-item class="item-divider" id="vilaEsperanAJdWanderley-list-item-divider130"> Vila Esperança para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="vilaEsperanAJdWanderley-list284">
      <ion-item id="vilaEsperanAJdWanderley-list-item1790">6:40
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1791">7:10
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1792">7:40
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1793">8:10
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1794">8:40
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1795">9:10
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1796">9:40
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1797">10:10
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1798">10:40
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1799">11:10
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1800">11:40
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1801">12:10
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1802">12:40
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1803">13:10
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1804">13:40
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1805">14:10
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1806">14:40
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1807">15:10
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1808">15:40
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1809">16:10
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1810">16:40
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1811">17:10
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1812">17:40
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1813">18:10
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1814">18:40
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1815">19:10
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1816">19:40
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1817">20:10
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1818">20:40
        <span class="item-note">Não passa pelo Fórum</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1819">21:30
        <span class="item-note">Não Passa pelo Fórum</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1820">22:30
        <span class="item-note">Não Passa pelo Fórum</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley-list-item1821">23:20
        <span class="item-note">Passa pela Zilah de Aquino</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>