<ion-view title="Vila Angélica" id="page41">
  <ion-content padding="true" class="has-header">
    <div id="vilaAngLica2-button-bar37" class="button-bar">
      <a ui-sref="menuTatuBus.vilaAngLica" id="vilaAngLica2-button111" class="button button-light  button-block button-outline">Seg - Sex</a>
      <button id="vilaAngLica2-button112" class="button button-calm  button-block">Sábado</button>
      <a ui-sref="menuTatuBus.vilaAngLica3" id="vilaAngLica2-button113" class="button button-light  button-block button-outline">Domingo</a>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="vilaAngLica2-list267">
      <ion-item class="item-divider" id="vilaAngLica2-list-item-divider121"> Mercado para Vila Angélica/Gonzaga</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="vilaAngLica2-list268">
      <ion-item id="vilaAngLica2-list-item1465">6:00</ion-item>
      <ion-item id="vilaAngLica2-list-item1466">6:20</ion-item>
      <ion-item id="vilaAngLica2-list-item1467">6:40
        <span class="item-note">Vai até a Cerâmica Strufaldi</span>
      </ion-item>
      <ion-item id="vilaAngLica2-list-item1468">7:00</ion-item>
      <ion-item id="vilaAngLica2-list-item1469">7:20</ion-item>
      <ion-item id="vilaAngLica2-list-item1470">7:40</ion-item>
      <ion-item id="vilaAngLica2-list-item1471">8:00</ion-item>
      <ion-item id="vilaAngLica2-list-item1472">8:20</ion-item>
      <ion-item id="vilaAngLica2-list-item1473">9:00</ion-item>
      <ion-item id="vilaAngLica2-list-item1474">9:20</ion-item>
      <ion-item id="vilaAngLica2-list-item1475">9:40
        <span class="item-note">Vai até a Cerâmica Strufaldi</span>
      </ion-item>
      <ion-item id="vilaAngLica2-list-item1476">10:00</ion-item>
      <ion-item id="vilaAngLica2-list-item1477">10:20</ion-item>
      <ion-item id="vilaAngLica2-list-item1478">10:40</ion-item>
      <ion-item id="vilaAngLica2-list-item1479">11:00</ion-item>
      <ion-item id="vilaAngLica2-list-item1480">11:20</ion-item>
      <ion-item id="vilaAngLica2-list-item1481">11:40</ion-item>
      <ion-item id="vilaAngLica2-list-item1482">12:00</ion-item>
      <ion-item id="vilaAngLica2-list-item1483">12:20</ion-item>
      <ion-item id="vilaAngLica2-list-item1484">12:40</ion-item>
      <ion-item id="vilaAngLica2-list-item1485">13:00</ion-item>
      <ion-item id="vilaAngLica2-list-item1486">13:20</ion-item>
      <ion-item id="vilaAngLica2-list-item1487">13:40</ion-item>
      <ion-item id="vilaAngLica2-list-item1488">14:00</ion-item>
      <ion-item id="vilaAngLica2-list-item1489">14:20</ion-item>
      <ion-item id="vilaAngLica2-list-item1490">14:40</ion-item>
      <ion-item id="vilaAngLica2-list-item1491">15:00</ion-item>
      <ion-item id="vilaAngLica2-list-item1492">15:20</ion-item>
      <ion-item id="vilaAngLica2-list-item1493">15:40
        <span class="item-note">Vai até Cerâmica Strufaldi</span>
      </ion-item>
      <ion-item id="vilaAngLica2-list-item1494">16:00</ion-item>
      <ion-item id="vilaAngLica2-list-item1495">16:20</ion-item>
      <ion-item id="vilaAngLica2-list-item1496">16:40</ion-item>
      <ion-item id="vilaAngLica2-list-item1497">17:00</ion-item>
      <ion-item id="vilaAngLica2-list-item1498">17:20</ion-item>
      <ion-item id="vilaAngLica2-list-item1499">17:40
        <span class="item-note">Vai até a Cerâmica Strufaldi</span>
      </ion-item>
      <ion-item id="vilaAngLica2-list-item1500">18:00</ion-item>
      <ion-item id="vilaAngLica2-list-item1501">18:20
        <span class="item-note">Não entra na última rua do V. Angél.</span>
      </ion-item>
      <ion-item id="vilaAngLica2-list-item1502">19:00
        <span class="item-note">Não entra na última rua do V. Angél.</span>
      </ion-item>
      <ion-item id="vilaAngLica2-list-item1503">19:30
        <span class="item-note">Não entra na última rua do V. Angél.</span>
      </ion-item>
      <ion-item id="vilaAngLica2-list-item1544">20:00
        <span class="item-note">Não entra na última rua do V. Angél.</span>
      </ion-item>
      <ion-item id="vilaAngLica2-list-item1545">21:00
        <span class="item-note">Não entra na última rua do V. Angél.</span>
      </ion-item>
      <ion-item id="vilaAngLica2-list-item1546">22:00
        <span class="item-note">Não entra na última rua do V. Angél.</span>
      </ion-item>
      <ion-item id="vilaAngLica2-list-item1547">23:00
        <span class="item-note">Não entra na última rua do V. Angél.</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="vilaAngLica2-list272">
      <ion-item class="item-divider" id="vilaAngLica2-list-item-divider123"> Vila Angélica/Gonzaga para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="vilaAngLica2-list271">
      <ion-item id="vilaAngLica2-list-item1548">6:30</ion-item>
      <ion-item id="vilaAngLica2-list-item1549">6:50</ion-item>
      <ion-item id="vilaAngLica2-list-item1550">7:10
        <span class="item-note">Vai até a Cerâmica Strufaldi</span>
      </ion-item>
      <ion-item id="vilaAngLica2-list-item1551">7:30</ion-item>
      <ion-item id="vilaAngLica2-list-item1552">7:50</ion-item>
      <ion-item id="vilaAngLica2-list-item1553">8:10</ion-item>
      <ion-item id="vilaAngLica2-list-item1554">8:30</ion-item>
      <ion-item id="vilaAngLica2-list-item1555">8:50</ion-item>
      <ion-item id="vilaAngLica2-list-item1556">9:30</ion-item>
      <ion-item id="vilaAngLica2-list-item1557">9:50</ion-item>
      <ion-item id="vilaAngLica2-list-item1558">10:10
        <span class="item-note">Vai até a Cerâmica Strufaldi</span>
      </ion-item>
      <ion-item id="vilaAngLica2-list-item1559">10:30</ion-item>
      <ion-item id="vilaAngLica2-list-item1560">10:50</ion-item>
      <ion-item id="vilaAngLica2-list-item1561">11:10</ion-item>
      <ion-item id="vilaAngLica2-list-item1562">11:30</ion-item>
      <ion-item id="vilaAngLica2-list-item1563">11:50</ion-item>
      <ion-item id="vilaAngLica2-list-item1564">12:10</ion-item>
      <ion-item id="vilaAngLica2-list-item1565">12:30</ion-item>
      <ion-item id="vilaAngLica2-list-item1566">12:50</ion-item>
      <ion-item id="vilaAngLica2-list-item1567">13:10</ion-item>
      <ion-item id="vilaAngLica2-list-item1568">13:30</ion-item>
      <ion-item id="vilaAngLica2-list-item1569">13:50</ion-item>
      <ion-item id="vilaAngLica2-list-item1570">14:10</ion-item>
      <ion-item id="vilaAngLica2-list-item1571">14:30</ion-item>
      <ion-item id="vilaAngLica2-list-item1572">14:50</ion-item>
      <ion-item id="vilaAngLica2-list-item1573">15:10</ion-item>
      <ion-item id="vilaAngLica2-list-item1574">15:30</ion-item>
      <ion-item id="vilaAngLica2-list-item1575">15:50</ion-item>
      <ion-item id="vilaAngLica2-list-item1576">16:10
        <span class="item-note">Vai até Cerâmica Strufaldi</span>
      </ion-item>
      <ion-item id="vilaAngLica2-list-item1577">16:30</ion-item>
      <ion-item id="vilaAngLica2-list-item1578">16:50</ion-item>
      <ion-item id="vilaAngLica2-list-item1579">17:10</ion-item>
      <ion-item id="vilaAngLica2-list-item1580">17:30</ion-item>
      <ion-item id="vilaAngLica2-list-item1581">17:50</ion-item>
      <ion-item id="vilaAngLica2-list-item1582">18:10
        <span class="item-note">Vai até a Cerâmica Strufaldi</span>
      </ion-item>
      <ion-item id="vilaAngLica2-list-item1583">18:30</ion-item>
      <ion-item id="vilaAngLica2-list-item1584">18:50
        <span class="item-note">Não entra na última rua do V. Angél.</span>
      </ion-item>
      <ion-item id="vilaAngLica2-list-item1585">19:30
        <span class="item-note">Não entra na última rua do V. Angél.</span>
      </ion-item>
      <ion-item id="vilaAngLica2-list-item1586">20:00
        <span class="item-note">Não entra na última rua do V. Angél.</span>
      </ion-item>
      <ion-item id="vilaAngLica2-list-item1587">20:30
        <span class="item-note">Não entra na última rua do V. Angél.</span>
      </ion-item>
      <ion-item id="vilaAngLica2-list-item1588">21:30
        <span class="item-note">Não entra na última rua do V. Angél.</span>
      </ion-item>
      <ion-item id="vilaAngLica2-list-item1589">22:30
        <span class="item-note">Não entra na última rua do V. Angél.</span>
      </ion-item>
      <ion-item id="vilaAngLica2-list-item1590">23:30
        <span class="item-note">Não entra na última rua do V. Angél.</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>