<ion-view title="Vila Esperança/Jd. Wanderley" id="page44">
  <ion-content padding="true" class="has-header">
    <div id="vilaEsperanAJdWanderley2-button-bar40" class="button-bar">
      <a ui-sref="menuTatuBus.vilaEsperanAJdWanderley" id="vilaEsperanAJdWanderley2-button120" class="button button-light  button-block button-outline">Seg - Sex</a>
      <button id="vilaEsperanAJdWanderley2-button121" class="button button-calm  button-block">Sábado</button>
      <a ui-sref="menuTatuBus.vilaEsperanAJdWanderley3" id="vilaEsperanAJdWanderley2-button122" class="button button-light  button-block button-outline">Domingo</a>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="vilaEsperanAJdWanderley2-list286">
      <ion-item class="item-divider" id="vilaEsperanAJdWanderley2-list-item-divider131"> Mercado para Vila Esperança</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="vilaEsperanAJdWanderley2-list287">
      <ion-item id="vilaEsperanAJdWanderley2-list-item1822">6:00
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1823">6:30
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1824">7:00
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1825">7:30
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1826">8:00
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1827">8:30
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1828">9:00
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1829">9:30
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1830">10:00
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1831">10:30
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1832">11:00
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1833">11:30
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1834">12:00
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1835">12:30
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1836">13:00
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1837">13:30
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1838">14:00
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1839">14:30
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1840">15:00
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1841">15:30
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1842">16:00
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1843">16:30
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1844">17:00
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1845">17:30
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1846">18:00
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1847">18:30
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1848">19:00
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1849">19:30
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1850">20:00
        <span class="item-note">Não passa pelo Fórum</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1851">20:30
        <span class="item-note">Não Passa pelo Fórum</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1886">21:30
        <span class="item-note">Não Passa pelo Fórum</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1852">22:20
        <span class="item-note">Não Passa pelo Fórum</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1853">23:10
        <span class="item-note">Passa pela Zilah de Aquino</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="vilaEsperanAJdWanderley2-list288">
      <ion-item class="item-divider" id="vilaEsperanAJdWanderley2-list-item-divider132"> Vila Esperança para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="vilaEsperanAJdWanderley2-list289">
      <ion-item id="vilaEsperanAJdWanderley2-list-item1854">6:30
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1855">7:00
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1856">7:30
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1857">8:00
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1858">8:30
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1859">9:00
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1860">9:30
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1861">10:00
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1862">10:30
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1863">11:00
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1864">11:30
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1865">12:00
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1866">12:30
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1867">13:00
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1868">13:30
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1869">14:00
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1870">14:30
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1871">15:00
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1872">15:30
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1873">16:00
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1874">16:30
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1875">17:00
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1876">17:30
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1877">18:00
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1878">18:30
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1879">19:00
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1880">19:30
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1881">20:00
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1882">20:30
        <span class="item-note">Não passa pelo Fórum</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1883">21:00
        <span class="item-note">Não Passa pelo Fórum</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1884">22:00
        <span class="item-note">Não Passa pelo Fórum</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1887">22:50
        <span class="item-note">Não Passa pelo Fórum</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley2-list-item1885">23:20
        <span class="item-note">Passa pela Zilah de Aquino</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>