<ion-view title="Vila Angélica" id="page42">
  <ion-content padding="true" class="has-header">
    <div id="vilaAngLica3-button-bar38" class="button-bar">
      <a ui-sref="menuTatuBus.vilaAngLica" id="vilaAngLica3-button114" class="button button-light  button-block button-outline">Seg - Sex</a>
      <a ui-sref="menuTatuBus.vilaAngLica2" id="vilaAngLica3-button115" class="button button-light  button-block button-outline">Sábado</a>
      <button id="vilaAngLica3-button116" class="button button-calm  button-block">Domingo</button>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="vilaAngLica3-list273">
      <ion-item class="item-divider" id="vilaAngLica3-list-item-divider124"> Mercado para Vila Angélica/Gonzaga</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="vilaAngLica3-list274">
      <ion-item id="vilaAngLica3-list-item1591">6:00</ion-item>
      <ion-item id="vilaAngLica3-list-item1593">6:40
        <span class="item-note">Vai até a Cerâmica Strufaldi</span>
      </ion-item>
      <ion-item id="vilaAngLica3-list-item1594">7:00</ion-item>
      <ion-item id="vilaAngLica3-list-item1596">7:40</ion-item>
      <ion-item id="vilaAngLica3-list-item1597">8:00</ion-item>
      <ion-item id="vilaAngLica3-list-item1677">8:40</ion-item>
      <ion-item id="vilaAngLica3-list-item1599">9:00</ion-item>
      <ion-item id="vilaAngLica3-list-item1601">9:40
        <span class="item-note">Vai até a Cerâmica Strufaldi</span>
      </ion-item>
      <ion-item id="vilaAngLica3-list-item1602">10:00</ion-item>
      <ion-item id="vilaAngLica3-list-item1604">10:40</ion-item>
      <ion-item id="vilaAngLica3-list-item1605">11:00</ion-item>
      <ion-item id="vilaAngLica3-list-item1607">11:30
        <span class="item-note">Vai até a Cerâmica Strufaldi</span>
      </ion-item>
      <ion-item id="vilaAngLica3-list-item1608">12:00</ion-item>
      <ion-item id="vilaAngLica3-list-item1609">12:30</ion-item>
      <ion-item id="vilaAngLica3-list-item1611">13:00</ion-item>
      <ion-item id="vilaAngLica3-list-item1612">13:30</ion-item>
      <ion-item id="vilaAngLica3-list-item1614">14:00</ion-item>
      <ion-item id="vilaAngLica3-list-item1615">14:30</ion-item>
      <ion-item id="vilaAngLica3-list-item1617">15:00</ion-item>
      <ion-item id="vilaAngLica3-list-item1619">15:30
        <span class="item-note">Vai até Cerâmica Strufaldi</span>
      </ion-item>
      <ion-item id="vilaAngLica3-list-item1620">16:00</ion-item>
      <ion-item id="vilaAngLica3-list-item1621">16:30</ion-item>
      <ion-item id="vilaAngLica3-list-item1623">17:00</ion-item>
      <ion-item id="vilaAngLica3-list-item1625">17:30
        <span class="item-note">Vai até a Cerâmica Strufaldi</span>
      </ion-item>
      <ion-item id="vilaAngLica3-list-item1626">18:00</ion-item>
      <ion-item id="vilaAngLica3-list-item1627">18:30
        <span class="item-note">Não entra na última rua do V. Angél.</span>
      </ion-item>
      <ion-item id="vilaAngLica3-list-item1628">19:00
        <span class="item-note">Não entra na última rua do V. Angél.</span>
      </ion-item>
      <ion-item id="vilaAngLica3-list-item1629">19:30
        <span class="item-note">Não entra na última rua do V. Angél.</span>
      </ion-item>
      <ion-item id="vilaAngLica3-list-item1630">20:00
        <span class="item-note">Não entra na última rua do V. Angél.</span>
      </ion-item>
      <ion-item id="vilaAngLica3-list-item1631">21:00
        <span class="item-note">Não entra na última rua do V. Angél.</span>
      </ion-item>
      <ion-item id="vilaAngLica3-list-item1632">22:00
        <span class="item-note">Não entra na última rua do V. Angél.</span>
      </ion-item>
      <ion-item id="vilaAngLica3-list-item1633">23:00
        <span class="item-note">Não entra na última rua do V. Angél.</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="vilaAngLica3-list279">
      <ion-item class="item-divider" id="vilaAngLica3-list-item-divider127"> Vila Angélica/Gonzaga para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="vilaAngLica3-list278">
      <ion-item id="vilaAngLica3-list-item1678">6:30</ion-item>
      <ion-item id="vilaAngLica3-list-item1679">7:00
        <span class="item-note">Vai até a Cerâmica Strufaldi</span>
      </ion-item>
      <ion-item id="vilaAngLica3-list-item1680">7:30</ion-item>
      <ion-item id="vilaAngLica3-list-item1681">8:00</ion-item>
      <ion-item id="vilaAngLica3-list-item1682">8:30</ion-item>
      <ion-item id="vilaAngLica3-list-item1683">9:00</ion-item>
      <ion-item id="vilaAngLica3-list-item1684">9:30</ion-item>
      <ion-item id="vilaAngLica3-list-item1685">10:00
        <span class="item-note">Vai até a Cerâmica Strufaldi</span>
      </ion-item>
      <ion-item id="vilaAngLica3-list-item1686">10:30</ion-item>
      <ion-item id="vilaAngLica3-list-item1687">11:00</ion-item>
      <ion-item id="vilaAngLica3-list-item1688">11:30</ion-item>
      <ion-item id="vilaAngLica3-list-item1689">12:00
        <span class="item-note">Vai até a Cerâmica Strufaldi</span>
      </ion-item>
      <ion-item id="vilaAngLica3-list-item1690">12:30</ion-item>
      <ion-item id="vilaAngLica3-list-item1691">13:00</ion-item>
      <ion-item id="vilaAngLica3-list-item1692">13:30</ion-item>
      <ion-item id="vilaAngLica3-list-item1693">14:00</ion-item>
      <ion-item id="vilaAngLica3-list-item1694">14:30</ion-item>
      <ion-item id="vilaAngLica3-list-item1695">15:00</ion-item>
      <ion-item id="vilaAngLica3-list-item1696">15:30</ion-item>
      <ion-item id="vilaAngLica3-list-item1697">16:00
        <span class="item-note">Vai até Cerâmica Strufaldi</span>
      </ion-item>
      <ion-item id="vilaAngLica3-list-item1698">16:30</ion-item>
      <ion-item id="vilaAngLica3-list-item1699">17:00</ion-item>
      <ion-item id="vilaAngLica3-list-item1700">17:30</ion-item>
      <ion-item id="vilaAngLica3-list-item1701">18:00
        <span class="item-note">Vai até a Cerâmica Strufaldi</span>
      </ion-item>
      <ion-item id="vilaAngLica3-list-item1702">18:30</ion-item>
      <ion-item id="vilaAngLica3-list-item1703">19:00
        <span class="item-note">Não entra na última rua do V. Angél.</span>
      </ion-item>
      <ion-item id="vilaAngLica3-list-item1704">19:30
        <span class="item-note">Não entra na última rua do V. Angél.</span>
      </ion-item>
      <ion-item id="vilaAngLica3-list-item1705">20:00
        <span class="item-note">Não entra na última rua do V. Angél.</span>
      </ion-item>
      <ion-item id="vilaAngLica3-list-item1706">20:30
        <span class="item-note">Não entra na última rua do V. Angél.</span>
      </ion-item>
      <ion-item id="vilaAngLica3-list-item1707">21:30
        <span class="item-note">Não entra na última rua do V. Angél.</span>
      </ion-item>
      <ion-item id="vilaAngLica3-list-item1708">22:30
        <span class="item-note">Não entra na última rua do V. Angél.</span>
      </ion-item>
      <ion-item id="vilaAngLica3-list-item1709">23:30
        <span class="item-note">Não entra na última rua do V. Angél.</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>