<ion-view title="Vila Esperança/Jd. Wanderley" id="page45">
  <ion-content padding="true" class="has-header">
    <div id="vilaEsperanAJdWanderley3-button-bar41" class="button-bar">
      <a ui-sref="menuTatuBus.vilaEsperanAJdWanderley" id="vilaEsperanAJdWanderley3-button123" class="button button-light  button-block button-outline">Seg - Sex</a>
      <a ui-sref="menuTatuBus.vilaEsperanAJdWanderley2" id="vilaEsperanAJdWanderley3-button124" class="button button-light  button-block button-outline">Sábado</a>
      <button id="vilaEsperanAJdWanderley3-button125" class="button button-calm  button-block">Domingo</button>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="vilaEsperanAJdWanderley3-list290">
      <ion-item class="item-divider" id="vilaEsperanAJdWanderley3-list-item-divider133"> Mercado para Vila Esperança</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="vilaEsperanAJdWanderley3-list291">
      <ion-item id="vilaEsperanAJdWanderley3-list-item1888">6:00
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1889">6:30
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1890">7:00
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1891">7:30
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1892">8:00
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1893">8:30
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1894">9:00
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1895">9:30
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1954">10:00
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1897">10:30
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1898">11:00
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1899">11:30
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1900">12:00
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1902">13:00
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1904">14:00
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1906">15:00
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1908">16:00
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1910">17:00
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1912">18:00
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1914">19:00
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1916">20:00
        <span class="item-note">Não passa pelo Fórum</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1918">21:00
        <span class="item-note">Não Passa pelo Fórum</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1919">22:20
        <span class="item-note">Não Passa pelo Fórum</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1920">23:10
        <span class="item-note">Passa pela Zilah de Aquino</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="vilaEsperanAJdWanderley3-list292">
      <ion-item class="item-divider" id="vilaEsperanAJdWanderley3-list-item-divider134"> Vila Esperança para Mercado</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="vilaEsperanAJdWanderley3-list293">
      <ion-item id="vilaEsperanAJdWanderley3-list-item1921">6:30
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1922">7:00
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1923">7:30
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1924">8:00
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1925">8:30
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1926">9:00
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1927">9:30
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1928">10:00
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1955">10:30
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1930">11:00
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1931">11:30
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1932">12:00
        <span class="item-note">Atende Senna Ville e Vila São Paulo</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1933">12:30
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1935">13:30
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1937">14:30
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1939">15:30
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1941">16:30
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1943">17:30
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1945">18:30
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1947">19:30
        <span class="item-note">Atende Jardim Perdizes</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1949">20:30
        <span class="item-note">Não passa pelo Fórum</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1951">21:30
        <span class="item-note">Não Passa pelo Fórum</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1952">22:30
        <span class="item-note">Não Passa pelo Fórum</span>
      </ion-item>
      <ion-item id="vilaEsperanAJdWanderley3-list-item1953">23:30
        <span class="item-note">Passa pela Zilah de Aquino</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>